#confirm-transaction {
    position: relative;
    overflow: hidden;
}

#confirm-transaction.standard .hide-standard,
#confirm-transaction.checkout .hide-checkout {
    display: none;
}

#confirm-transaction .payment-info-line + .nq-card-header {
    padding-top: 2rem;
}

#confirm-transaction .nq-card-body {
    padding-bottom: 2rem;
}

#confirm-transaction .transaction {
    display: flex;
    flex-direction: column;
}

#confirm-transaction .recipient {
    font-size: 2rem;
    padding: 1.5rem;
    box-shadow: inset 0 0 0 1.5px rgba(31, 35, 72, 0.1);
    border-radius: 0.625rem;
}

#confirm-transaction .label-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.5rem;
}

#confirm-transaction #avatar {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
}

#confirm-transaction #avatar.initial {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 2;
    letter-spacing: -0.1em;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#confirm-transaction #avatar.unlabelled {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 63 63"><path opacity=".25" fill="%231F2348" fill-rule="evenodd" isolation="isolate" d="M17,47.9a20.59,20.59,0,0,0-2.86,3.49,1,1,0,0,1-1.51.22,27.49,27.49,0,1,1,37.74,0,1,1,0,0,1-1.51-.23A20.82,20.82,0,0,0,17,47.9ZM31.5,63A31.5,31.5,0,1,0,0,31.5,31.5,31.5,0,0,0,31.5,63Zm0-25.41a12,12,0,1,0-12-12A12,12,0,0,0,31.5,37.59Z"/></svg>');
    background-size: 100%;
    background-repeat: no-repeat;
}

#confirm-transaction #avatar img {
    width: 100%;
    height: 100%;
}

#confirm-transaction #label.unlabelled {
    font-style: italic;
}

#confirm-transaction #address {
    font-family: 'Fira Mono', monospace;
    font-size: 1.875rem;
}

#confirm-transaction .value-fee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    flex-grow: 1;
}

#confirm-transaction .total #value {
    font-size: 6rem;
}

#confirm-transaction .total .btc-symbol {
    font-size: 3rem;
    margin-left: 1rem;
    font-weight: bold;
}

#confirm-transaction .fee-section {
    opacity: 0.5;
    margin-bottom: 0.25rem;
}
