.file-import {
    display: flex;
    width: 320px;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.file-import .error-message {
    color: var(--error-color);
}

.file-import .file-import-icon {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="128.82292mm" height="208.19792mm" viewBox="0 0 128.82292 208.19792"><rect width="128.32292" height="207.69792" x=".25000027" y=".24999969" ry="3.609446" fill="none" stroke="%23fff" stroke-width=".5"/><rect width="49.290455" height="49.314075" x="39.795765" y="143.73923" ry="3.6094458" fill="none" stroke="%23fff" stroke-width=".5"/><rect width="97.990326" height="4.9136853" x="15.369049" y="124.60416" ry=".68307447" fill="none" stroke="%23fff" stroke-width=".5"/><path d="M87.18345 44.245896l15.71464 27.218563c1.42004 2.459608 1.42004 5.489928 0 7.949518L87.18345 106.63255c-1.42004 2.45959-4.04438 3.97476-6.88448 3.97476H48.869711c-2.840084 0-5.46443-1.51517-6.884474-3.97476L26.270593 79.413977c-1.420042-2.45959-1.420042-5.48991 0-7.949518l15.714644-27.218563c1.420044-2.459585 4.04439-3.974752 6.884474-3.974752H80.29897c2.8401 0 5.46444 1.515167 6.88448 3.974752z" fill="none" stroke="%23fff" stroke-width=".5"/><rect width="6.9950452" height="6.9017372" x="43.30051" y="147.16241" ry="1.0538023" fill="none" stroke="%23fff" stroke-width=".5"/><rect width="6.9950452" height="6.9017372" x="78.662773" y="147.22495" ry="1.0538023" fill="none" stroke="%23fff" stroke-width=".5"/><rect width="6.9950452" height="6.9017372" x="43.186443" y="182.59865" ry="1.0538023" fill="none" stroke="%23fff" stroke-width=".5"/><g aria-label="ACCOUNT ACCESS FILE" style="line-height:1.25" font-weight="400" font-size="5.29166794" font-family="Cantarell" letter-spacing="0" word-spacing="0" fill="%23fff" stroke-width=".26458335"><path d="M39.795531 12.914902l-1.248833-3.6618345h-.550334l-1.243542 3.6618345h.455084l.354541-1.074209h1.386417l.354542 1.074209zm-1.539875-3.206751l.5715 1.74625h-1.143zM42.963669 12.708527l-.169333-.365125c-.22225.142875-.53975.238125-.873125.238125-.846667 0-1.338792-.645584-1.338792-1.497542 0-.851959.492125-1.5187091 1.338792-1.5187091.333375 0 .677333.1058334.873125.2381251l.169333-.3651251c-.232833-.142875-.608542-.2592917-1.042458-.2592917-1.058334 0-1.778001.8466668-1.778001 1.9050008 0 1.058333.719667 1.883833 1.778001 1.883833.354541 0 .735542-.08467 1.042458-.259291zM46.301968 12.708527l-.169334-.365125c-.22225.142875-.53975.238125-.873125.238125-.846667 0-1.338792-.645584-1.338792-1.497542 0-.851959.492125-1.5187091 1.338792-1.5187091.333375 0 .677334.1058334.873125.2381251l.169334-.3651251c-.232834-.142875-.608542-.2592917-1.042459-.2592917-1.058334 0-1.778.8466668-1.778 1.9050008 0 1.058333.719666 1.883833 1.778 1.883833.354542 0 .735542-.08467 1.042459-.259291zM48.54489 9.1789842c-1.058333 0-1.725084.8466668-1.725084 1.9050008 0 1.058333.666751 1.883833 1.725084 1.883833 1.058334 0 1.725084-.8255 1.725084-1.883833 0-1.058334-.66675-1.9050008-1.725084-1.9050008zm0 3.4025428c-.846667 0-1.285875-.645584-1.285875-1.497542 0-.851959.439208-1.5187091 1.285875-1.5187091.846667 0 1.285876.6667501 1.285876 1.5187091 0 .851958-.439209 1.497542-1.285876 1.497542zM52.358695 12.967818c1.042459 0 1.407584-.661458 1.407584-1.524V9.2530675h-.439208v2.3018755c0 .497417-.264584 1.026584-.968376 1.026584-.703791 0-.968375-.518584-.968375-1.026584V9.2530675h-.433917v2.1907505c0 .862542.359834 1.524 1.402292 1.524zM54.616336 9.2530675v3.6618345h.439208V9.8086927l1.947334 3.1062093h.608542V9.2530675h-.439209v3.1062095l-1.952625-3.1062095zM58.115865 9.2530675v.3862918h1.222375v3.2755427h.439209V9.6393593h1.227667v-.3862918zM65.602748 12.914902l-1.248834-3.6618345h-.550333l-1.243542 3.6618345h.455083l.354542-1.074209h1.386417l.354542 1.074209zm-1.539876-3.206751l.571501 1.74625h-1.143001zM68.770886 12.708527l-.169333-.365125c-.22225.142875-.53975.238125-.873125.238125-.846667 0-1.338792-.645584-1.338792-1.497542 0-.851959.492125-1.5187091 1.338792-1.5187091.333375 0 .677333.1058334.873125.2381251l.169333-.3651251c-.232833-.142875-.608541-.2592917-1.042458-.2592917-1.058334 0-1.778001.8466668-1.778001 1.9050008 0 1.058333.719667 1.883833 1.778001 1.883833.354542 0 .735542-.08467 1.042458-.259291zM72.109185 12.708527l-.169333-.365125c-.22225.142875-.53975.238125-.873125.238125-.846667 0-1.338792-.645584-1.338792-1.497542 0-.851959.492125-1.5187091 1.338792-1.5187091.333375 0 .677333.1058334.873125.2381251l.169333-.3651251c-.232833-.142875-.608542-.2592917-1.042458-.2592917-1.058334 0-1.778001.8466668-1.778001 1.9050008 0 1.058333.719667 1.883833 1.778001 1.883833.354541 0 .735541-.08467 1.042458-.259291zM72.785775 12.914902h2.148417v-.386292h-1.709209v-1.370542h1.566334v-.386292h-1.566334V9.6393593h1.709209v-.3862918h-2.148417zM76.618017 12.967818c.772583 0 1.349375-.41275 1.349375-.994833 0-1.185334-2.021417-.989542-2.021417-1.799167 0-.3810004.322792-.6085421.841375-.6085421.296334 0 .687917.09525.883709.2381251l.169333-.3651251c-.28575-.1640417-.624417-.2592917-1.063625-.2592917-.682625 0-1.27.2910417-1.27.9948338 0 1.185333 2.021417.989542 2.021417 1.799167 0 .306917-.343959.608542-.899584.608542-.418042 0-.830792-.15875-1.037167-.291042l-.169333.365125c.28575.15875.635.312208 1.195917.312208zM79.687597 12.967818c.772583 0 1.349375-.41275 1.349375-.994833 0-1.185334-2.021417-.989542-2.021417-1.799167 0-.3810004.322792-.6085421.841375-.6085421.296334 0 .687917.09525.883709.2381251l.169333-.3651251c-.28575-.1640417-.624417-.2592917-1.063625-.2592917-.682625 0-1.27.2910417-1.27.9948338 0 1.185333 2.021417.989542 2.021417 1.799167 0 .306917-.343959.608542-.899584.608542-.418042 0-.830792-.15875-1.037167-.291042l-.169333.365125c.28575.15875.635.312208 1.195917.312208zM83.632618 9.6393593h1.682751v-.3862918H83.19341v3.6618345h.439208v-1.698626h1.529292v-.386291h-1.529292zM85.994271 9.2530675v3.6618345h.439209V9.2530675zM87.337861 9.2530675v3.6618345h2.084917v-.386292h-1.645709V9.2530675zM89.921681 12.914902h2.148417v-.386292H90.36089v-1.370542h1.566333v-.386292H90.36089V9.6393593h1.709208v-.3862918h-2.148417z" style="-inkscape-font-specification:Cantarell"/></g></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    display: block;
    height: 420px;
    max-height: 75%;
    width: 100%;
    transition: transform 300ms;
    opacity: 0.6;
    margin-bottom: 10px;
    transform: scale(0.95);
}

.file-import .file-import-icon:hover {
    transform: scale(1);
}

.file-import input {
    position: absolute;
    top: -10000px;
}

/* x-account-backup-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    z-index: 2;
}

[active] x-account-backup-backdrop {
    display: flex;
} */

@media (min-height: 750px) {
    .file-import {
        min-height: 400px;
    }
}
