.recovery-words {
    margin-bottom: 3rem;
}

.recovery-words .info-box {
    margin-bottom: 3rem;
}

.recovery-words .words-container {
    width: 100%;
    max-width: 45rem;
    padding: 2rem;
    margin: 3rem 0;
    box-sizing: border-box;
    position: relative;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJElEQVQYV2NkwAT/GdHE/jMwMDAiC4IFQIpggnABmCCKAEgQAABOBQUaykC8AAAAAElFTkSuQmCC');
    background-color: rgba(0, 0, 0, 0.4);
    border: .125rem solid white;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 4rem;
}

.recovery-words .words-container .word-section {
    display: flex;
    flex-wrap: wrap;
}

.recovery-words .word {
    margin: .25rem;
    width: 5rem;
    display: flex;
    flex-direction: column;
    flex: 1 0 20%;
    position: relative;
    box-shadow: 0 .250rem .250rem 0       rgba(0, 0, 0, 0.14),
                0 .125rem .625rem 0       rgba(0, 0, 0, 0.12),
                0 .375rem .125rem -.25rem rgba(0, 0, 0, 0.20);
}

.recovery-words .words-container .title {
    display: block;
    position: absolute;
    left: 50%;
    width: 17.5rem;
    box-sizing: border-box;
    border-radius: 3rem;
    top: -1.625rem;
    font-size: 1.5rem;
    line-height: 3.25rem;
    margin-left: -8.75rem;
    background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZmZmIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTE4IDhoLTFWNmMwLTIuNzYtMi4yNC01LTUtNVM3IDMuMjQgNyA2djJINmMtMS4xIDAtMiAuOS0yIDJ2MTBjMCAxLjEuOSAyIDIgMmgxMmMxLjEgMCAyLS45IDItMlYxMGMwLTEuMS0uOS0yLTItMnptLTYgOWMtMS4xIDAtMi0uOS0yLTJzLjktMiAyLTIgMiAuOSAyIDItLjkgMi0yIDJ6bTMuMS05SDguOVY2YzAtMS43MSAxLjM5LTMuMSAzLjEtMy4xIDEuNzEgMCAzLjEgMS4zOSAzLjEgMy4xdjJ6Ii8+PC9zdmc+');
    background-size: 1.75rem;
    background-position: 1.125rem center;
    background-repeat: no-repeat;
    background-color: black;
    padding-left: 2rem;
    transition: opacity 300ms;
}

@keyframes words-container {
    from {
        opacity: 0;
        transform: translate(4rem, 2rem);
    }
}
