li.nq-icon {
    width: auto;
    height: auto;
    display: flex;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 2rem;
}
li.nq-icon::before {
    position: absolute;
    content: '';
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    height: 5rem;
}

li.nq-icon.icon-fire::before {
    width: 4.5rem;
    left: -4.75rem;
    background-image: url('data:image/svg+xml,<svg width="36" height="41" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M34.173 18.147c.282.08.503.29.588.56.492 1.56.741 3.183.739 4.813.097 9.169-7.482 16.719-17.03 16.965C8.924 40.73.934 33.583.519 24.422.5 24.123.5 23.822.5 23.52c-.007-4.971 2.289-9.688 6.265-12.873a.903.903 0 0 1 .814-.16.858.858 0 0 1 .586.566 14.469 14.469 0 0 0 1.834 3.844c.09.131.249.204.412.188a.437.437 0 0 0 .363-.264 14.703 14.703 0 0 0 1.101-5.58 15.645 15.645 0 0 0-2.19-7.974.812.812 0 0 1 .03-.9.89.89 0 0 1 .861-.357C20.84 1.833 28.541 10.06 29.335 20.051a.416.416 0 0 0 .212.335.452.452 0 0 0 .407.02 15.18 15.18 0 0 0 3.407-2.097.903.903 0 0 1 .812-.162zM12.99 33.656A7.179 7.179 0 0 0 18 35.7a7.016 7.016 0 0 0 4.991-1.928c1.321-1.268 2.047-2.999 2.009-4.792.192-2.522-1.228-4.904-3.59-6.024a.456.456 0 0 0-.369 0 .417.417 0 0 0-.241.265 3.868 3.868 0 0 1-1.286 1.773.453.453 0 0 1-.378.1.442.442 0 0 1-.31-.232c-1.013-2.308-.701-4.956.822-6.99a.408.408 0 0 0 0-.51.45.45 0 0 0-.51-.137C14.264 19.176 11.064 23.722 11 28.79c-.044 1.813.673 3.566 1.99 4.866z" fill="%23FC8702"/></svg>');
}

li.nq-icon.icon-copy::before {
    width: 4.5rem;
    left: -4.75rem;
    background-image: url('data:image/svg+xml,<svg width="35" height="40" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M34.068 6.012L28.95.923A3.187 3.187 0 0 0 26.712 0H12.333a3.167 3.167 0 0 0-3.166 3.167v5.166h-6A3.167 3.167 0 0 0 0 11.5v25.35A3.167 3.167 0 0 0 3.167 40h19.5a3.167 3.167 0 0 0 3.166-3.158v-5.175h6A3.167 3.167 0 0 0 35 28.508V8.248a3.137 3.137 0 0 0-.932-2.236zM22.5 35.833c0 .46-.373.834-.833.834h-17.5a.833.833 0 0 1-.834-.834V12.5c0-.46.373-.833.834-.833H17.14c.218 0 .428.085.583.238l4.527 4.428c.16.157.25.372.25.595v18.905zm3.75-7.5h4.583c.46 0 .834-.373.834-.833V8.595a.834.834 0 0 0-.25-.595l-4.572-4.472a.833.833 0 0 0-.585-.238l-12.927.043a.833.833 0 0 0-.833.833v3.75c0 .23.187.417.417.417h4.63c.838 0 1.642.332 2.236.923l5.12 5.092c.595.592.93 1.396.93 2.235v11.333c0 .23.187.417.417.417z" fill="%23FC8702"/></svg>')
}

li.nq-icon.icon-offline::before {
    width: 5rem;
    left: -5rem;
    background-image: url('data:image/svg+xml,<svg width="40" height="40" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M21.25 8.334h-10a1.25 1.25 0 1 0 0 2.5h10a1.25 1.25 0 0 0 0-2.5zM22.5 15.416c0-.69-.56-1.25-1.25-1.25H7.917a1.25 1.25 0 0 0 0 2.5H21.25c.69 0 1.25-.56 1.25-1.25zM7.917 20a1.25 1.25 0 1 0 0 2.5h9.166a1.25 1.25 0 1 0 0-2.5H7.917z" fill="%23FC8702"/><path d="M18.833 29.425a.42.42 0 0 0-.385-.258H4.167a.833.833 0 0 1-.834-.834V4.167c0-.46.373-.834.834-.834h21.666c.46 0 .834.373.834.834V20.95a.416.416 0 0 0 .711.293l2.134-2.133c.312-.313.488-.736.488-1.178V3.333A3.333 3.333 0 0 0 26.667 0H3.333A3.333 3.333 0 0 0 0 3.333v25.834A3.333 3.333 0 0 0 3.333 32.5h13.114a.833.833 0 0 0 .796-.588c.159-.518.446-.988.834-1.365l.666-.667c.12-.12.155-.3.09-.455zM20.103 33.552a.419.419 0 0 0-.703.213L18.353 39a.833.833 0 0 0 .984.984l5.238-1.049a.417.417 0 0 0 .212-.703l-4.684-4.68zM38.713 19.609a4.367 4.367 0 0 0-6.166 0L21.713 30.442a.833.833 0 0 0 0 1.178l5 5a.833.833 0 0 0 1.179 0l10.833-10.833a4.369 4.369 0 0 0-.012-6.178z" fill="%23FC8702"/></svg>');
}

.page#download-key-file.show-download .hide-for-download {
    display: none;
}

.page#download-key-file:not(.show-download) .download-key-file {
    display: none;
}

.page#download-key-file .download-icon {
    align-self: center;
}

.page#download-key-file .walletfile,
.page#download-key-file .arrow-down {
    display: block;
    margin: auto;
}

.page#validate-words .page-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 1rem;
}

.page#download-key-file .walletfile {
    width: 9rem;
    height: 11.75rem;
    width: 100%;
}

.page#download-key-file .arrow-down {
    width: 3rem;
    height: 3rem;
    opacity: 0.3;
    margin-top: 1rem;
}

.page#recovery-words .page-body {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
}

.page#recovery-words .recovery-words {
    margin: 0;
    position: relative;
    -webkit-mask-image: linear-gradient(0deg , rgba(255,255,255,0), rgba(255,255,255, 1) 20%, rgba(255,255,255,1) 80%, rgba(255,255,255,0));
    mask-image: linear-gradient(0deg , rgba(255,255,255,0), rgba(255,255,255, 1) 20%, rgba(255,255,255,1) 80%, rgba(255,255,255,0));
}

.page#no-recovery p,
.page#recovery-words p {
    text-align: center;
    margin-bottom: 1rem;
}

.page#no-recovery .nq-card-body {
    padding-bottom: 0;
}


.passphrase-box:not(.hide-input) + .skip-words {
    position: absolute;
    width: calc(100% - 2rem);
    bottom: 2.25rem;
}

.passphrase-box:not(.hide-input).input-eligable + .skip-words {
    display: none;
}

#validate-words .skip .nq-icon,
#recovery-words .skip-words .nq-icon,
.passphrase-box + .skip-words .nq-icon {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" color="white" viewBox="0 0 10 17"><polygon fill="currentColor" points="1.43,17 0,15.58 7.13,8.5 0,1.42 1.43,0 10,8.5 "/></svg>');
}

.page#validate-words .validate-words .word-list {
    margin: 0;
}

.page-footer {
    padding: 1rem;
}

.skip-words {
    cursor: pointer;
    display: block;
    text-align: center;
    font-size: 1.625rem;
    transition: opacity .3s ease;
}

.skip .nq-icon,
.skip-words .nq-icon {
    margin-left: 0.5rem;
    height: 0.875rem;
    width: 0.875rem;
    transition: transform .3s ease;
}

.skip-words:hover,
.skip-words:focus {
    outline: none;
    opacity: 0.7;
}

.skip-words:hover .nq-icon,
.skip-words:focus .nq-icon {
    transform: translate3D(-0.25rem, 0, 0);
}


