ul.nq-list li {
    width: auto;
    height: auto;
    display: flex;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 2rem;
    min-height: 5rem;
    align-items: center;
}

ul.nq-list li > .nq-icon {
    position: absolute;
    height: 5rem;
    width: 5rem;
    left: -5rem;
    top: 0.5rem;
}


.page#recovery-words-intro .page-header .nq-h1,
.page#recovery-words .page-header .nq-h1 {
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.page#validate-words .page-body {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.page#recovery-words {
    height: 70.5rem; /* 564px */
}

.page#recovery-words .page-body {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
}

.page#recovery-words .nq-text {
    text-align: center;
    color: var(--nimiq-orange); /* Can be removed when CSS specificity is fixed in nimiq-styles */
    margin-bottom: 0;
}

.page#recovery-words .recovery-words {
    max-height: 100%;
    margin: 0;
    position: relative;
    margin: 0 -1.5rem -3rem;
    padding: 3rem 0;
    -webkit-mask-image: linear-gradient(0deg , rgba(255,255,255,0), rgba(255,255,255, 1) 20%, rgba(255,255,255,1) 80%, rgba(255,255,255,0));
    mask-image: linear-gradient(0deg , rgba(255,255,255,0), rgba(255,255,255, 1) 20%, rgba(255,255,255,1) 80%, rgba(255,255,255,0));
}

.page#recovery-words-intro p {
    text-align: center;
    margin-bottom: 1rem;
}

.page#recovery-words-intro .nq-card-body {
    padding-bottom: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.page#recovery-words-intro li > .nq-icon {
    color: var(--nimiq-orange);
}

.page#login-file-unlock .nq-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.page#login-file-unlock .nq-card-body .nq-icon {
    width: 8rem;
    height: auto;
    opacity: 0.3;
}

.page#login-file-intro .nq-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
}

.page#login-file-intro p {
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 0;
}

.page#login-file-intro li > .nq-icon {
    opacity: 0.3;
}

.page#login-file-set-password:not(.repeat-password) .nq-h1.repeat,
.page#login-file-set-password.repeat-password .nq-h1:not(.repeat) {
    display: none;
}

.page#login-file-set-password .page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.page#login-file-download .page-body {
    display: flex;
    flex-direction: column;
    padding-bottom: 3rem;
}

.page#login-file-download img {
    display: flex;
    transition: filter .6s, opacity .6s;
    opacity: .3;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
}

.page#login-file-download:target img {
    opacity: 1;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
}

.page#login-file-unlock:target ~ .page#login-file-download,
.page#login-file-success:target ~ .page#login-file-download,
.page#recovery-words-intro:target ~ .page#login-file-download {
    display: flex;
}

.page#login-file-download .page-header,
.page#login-file-download button {
    opacity: 0;
}

.page#login-file-download:target .page-header,
.page#login-file-download:target button {
    opacity: 1;
}

.page#login-file-unlock,
.page#login-file-success {
    background-color: rgb( 255, 255, 255, .0); /* transparent white */
}

.page#login-file-success #close-request {
    position: absolute;
    right: 2rem;
    top: 2rem;
    opacity: 0.16;
    border: 0rem;
    background: transparent;
    padding: 0;
    transition: opacity .3s ease;
}

.page#login-file-success .page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page#login-file-success #close-request svg {
    width: 3rem;
    height: 3rem;
}

.page#login-file-success ul {
    list-style-type: none;
    font-size: 3rem;
    line-height: 7rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    color: rgba(31, 35, 72, .4); /* based on --nimiq-blue */
}

.page#login-file-success .bullet-point {
    display: inline-block;
    width: 3rem;
    position: relative;
}

.page#login-file-success .bullet-point::before {
    content: '\25cf';
    position: absolute;
    top: -1.5rem;
    left: 1rem;
    font-size: 1.5rem;
}

.page#login-file-success h1 {
    margin: 0;
}

.page#login-file-success p {
    text-align: center;
}

.password-box:not(.hide-input) + .skip-words {
    position: absolute;
    width: calc(100% - 2rem);
    bottom: 2.25rem;
}

.password-box:not(.hide-input).input-eligible + .skip-words {
    display: none;
}

.page#validate-words .validate-words .word-list {
    margin: 0;
}

.page-footer {
    padding: 1rem;
}

.skip-words {
    cursor: pointer;
    display: block;
    text-align: center;
    font-size: 1.625rem;
    transition: opacity .3s ease;
}

.skip .nq-icon,
.skip-words .nq-icon {
    margin-left: 0.5rem;
    height: 0.875rem;
    width: 0.875rem;
    transition: transform .3s ease;
}

.skip-words:hover,
.skip-words:focus {
    outline: none;
    opacity: 0.7;
}

.skip-words:hover .nq-icon,
.skip-words:focus .nq-icon {
    transform: translate3D(-0.25rem, 0, 0);
}
