ul.nq-list li {
    width: auto;
    height: auto;
    display: flex;
    position: relative;
    padding-left: 2rem;
    margin-bottom: 3rem;
    min-height: 5rem;
    align-items: center;
}

ul.nq-list li > .nq-icon {
    position: absolute;
    height: 5rem;
    width: 5rem;
    left: -5rem;
    top: 0.5rem;
}

.page#validate-words .page-body {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
}

.page#recovery-words {
    height: 70.5rem; /* 564px */
}

.page#recovery-words .page-body {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
}

.page#recovery-words .recovery-words {
    height: 39rem;
    position: relative;
    margin: -4rem;
    padding: 0 3rem;
    mask-image: linear-gradient(0deg , rgba(255,255,255,0), rgba(255,255,255, 1) 4rem, rgba(255,255,255,1) calc(100% - 4rem), rgba(255,255,255,0));
    overflow-x: hidden;
    overflow-y: scroll;
}

.recovery-words .words-container .word-section {
    padding: 4rem 0rem;
}

@media (max-width: 450px) { /* break point used in @nimiq/style/layout.css for .nq-card-body padding */
    .page#recovery-words .recovery-words {
        margin-left: -3rem;
        margin-right: -3rem;
    }
}

.page#recovery-words .page-footer p {
    position: absolute;
    bottom: 4rem;
    text-align: center;
    width: calc(100% - 2rem);
    opacity: 0.5;
    color: white;
    transition: opacity .2s ease, z-index 0s .2s;
}

.page#recovery-words .page-footer.scrolled-down p {
    z-index: -1;
    opacity: 0;
}

.page#recovery-words .page-footer button {
    z-index: -1;
    position: relative;
    opacity: 0;
    transition: transform 450ms cubic-bezier(.25,0,0,1), box-shadow 450ms cubic-bezier(.25,0,0,1), opacity .4s ease;
}

.page#recovery-words .page-footer.scrolled-down button {
    z-index: 1;
    opacity: 1;
}

/* blur when page is displayed in background */
.page#recovery-words .page-header .warning,
.page#recovery-words .words-container {
    transition: filter .6s, opacity .6s;
}
.page#recovery-words:not(:target) .page-header .warning,
.page#recovery-words:not(:target) .words-container {
    filter: blur(10px);
    opacity: .4;
}
/* hide elements which are covered or don't look nice in the background when blurred */
.page#recovery-words:not(:target) .page-header > :not(.warning),
.page#recovery-words:not(:target) .page-footer {
    opacity: 0;
}
/* hide scroll bar when page is displayed in background */
.page#recovery-words:not(:target) .recovery-words {
    overflow-y: hidden;
}

.page#recovery-words-intro .warning {
    margin-top: 1.5rem;
}

.page#recovery-words-intro .nq-card-body {
    padding-bottom: 0;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.page#recovery-words-intro li > .nq-icon {
    color: var(--nimiq-orange);
}

.page#recovery-words-intro .nq-card-footer {
    padding-left: 4rem;
    padding-right: 4rem;
}

.page#recovery-words-intro .nq-button {
    margin-left: auto;
    margin-right: auto;
}

.page:is(#login-file-unlock, #recovery-words-unlock, #backup-codes-unlock) .nq-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.page:is(#login-file-unlock, #recovery-words-unlock, #backup-codes-unlock) .nq-card-body .nq-icon {
    width: 8rem;
    height: auto;
    opacity: 0.3;
}

.page#login-file-intro .nq-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0;
    justify-content: space-evenly;
}

.page#login-file-intro .nq-card-body > * {
    margin-bottom: auto;
}

.page#login-file-intro .page-body .nq-notice.warning {
    text-align: center;
    margin-top: 0;
    white-space: pre-line;
}

.page#login-file-intro li:last-child {
    margin-bottom: 1rem;
}

.page#login-file-intro li > .nq-icon {
    opacity: 0.3;
}

.page#login-file-intro .nq-notice.warning {
    font-size: 2.75rem;
}

.page#login-file-set-password:not(.repeat-password) .nq-h1.repeat,
.page#login-file-set-password.repeat-password .nq-h1:not(.repeat) {
    display: none;
}

.page#login-file-set-password .page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.page#login-file-download .page-body {
    display: flex;
    flex-direction: column;
}

/* blur when page is displayed in background */
.page#login-file-download img {
    display: flex;
    transition: filter .6s, opacity .6s;
}
.page#login-file-download:not(:target) img {
    filter: blur(20px);
    opacity: .15;
}
/* hide elements which don't look nice in the background when blurred */
.page#login-file-download:not(:target) .page-header,
.page#login-file-download:not(:target) button,
.page#login-file-download:not(:target) .download-button,
.page#login-file-download:not(:target) .continue {
    opacity: 0;
}

.page#login-file-download.loginfile-download-initiated .page-header .nq-h1:not(.confirm-download),
.page#login-file-download:not(.loginfile-download-initiated) .page-header .confirm-download {
    display: none;
}

.page:is(#login-file-unlock, #login-file-success, #recovery-words-intro):target ~ .page#login-file-download,
.page#recovery-words-intro:target ~ .page#login-file-success,
.page#recovery-words-unlock:target ~ .page#recovery-words,
.page#backup-codes-unlock:target ~ .page#backup-codes-intro {
    display: flex; /* display page as blurred background or on backside during flip */
    max-height: 70.5rem; /* avoid that page overflows the foreground page */
}

.page#login-file-unlock,
.page#login-file-success,
.page#recovery-words-unlock,
.page#backup-codes-unlock {
    background-image: none;
    background-color: rgba(255, 255, 255, .0); /* transparent white, such that background page is visible */
}

.page#login-file-success {
    transition: opacity .3s .1s ease;
}

.page#login-file-success:not(:target) {
    opacity: 0;
}

.page#login-file-success .page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page#login-file-success ul {
    list-style-type: none;
    font-size: 3rem;
    line-height: 7rem;
    font-weight: 600;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    color: rgba(31, 35, 72, .4); /* based on --nimiq-blue */
}

.page#login-file-success .bullet-point {
    display: inline-block;
    width: 3rem;
    position: relative;
}

.page#login-file-success .page-header-back-button {
    left: auto;
    right: 2rem;
    top: 2rem;
    height: 3rem;
    padding: 0;
    opacity: 1;
}

.page#login-file-success .page-header-back-button .nq-icon {
    opacity: .2;
    transition: opacity .3s var(--nimiq-ease);
}

.page#login-file-success .page-header-back-button:hover,
.page#login-file-success .page-header-back-button:active,
.page#login-file-success .page-header-back-button:focus {
    transform: none;
}

.page#login-file-success .page-header-back-button:hover .nq-icon,
.page#login-file-success .page-header-back-button:active .nq-icon,
.page#login-file-success .page-header-back-button:focus .nq-icon {
    opacity: .4;
}

.page#login-file-success .bullet-point::before {
    content: '\25cf';
    position: absolute;
    top: -1.5rem;
    left: 1rem;
    font-size: 1.5rem;
}

.page#login-file-success h1 {
    margin: 0;
    text-align: center;
}

.page#login-file-success p {
    text-align: center;
}

/* backup codes view transition setup */
.page[id*="backup-codes"]:not(.disable-view-transition-names):target,
.page[id*="backup-codes"].enforce-view-transition-names {
    view-transition-name: backup-codes-page;
}
#rotation-container:has(.page[id*="backup-codes"]:target) ~ .global-close {
    view-transition-name: global-close;
}
.page[id*="backup-codes"]:not(.disable-view-transition-names):target .nq-button,
.page[id*="backup-codes"].enforce-view-transition-names .nq-button {
    view-transition-name: backup-codes-continue-button;
}
.page[id*="backup-codes"]:not(.disable-view-transition-names):target .page-header-back-button,
.page[id*="backup-codes"].enforce-view-transition-names .page-header-back-button {
    view-transition-name: backup-codes-page-header-back-button;
}
::view-transition-old(backup-codes-page),
::view-transition-new(backup-codes-page) {
    height: 100%;
}

/* blur when page is displayed in background */
.page#backup-codes-intro :is(.page-header, .page-footer) .nq-notice,
.page#backup-codes-intro .backup-codes-illustration {
    transition: filter .6s, opacity .6s;
}
.page#backup-codes-intro:not(.enforce-view-transition-names):not(:target) :is(.page-header, .page-footer) .nq-notice {
    filter: blur(10px);
    opacity: .4;
}
.page#backup-codes-intro:not(.enforce-view-transition-names):not(:target) .backup-codes-illustration {
    filter: blur(20px);
    opacity: .15;
}
/* hide elements which don't look nice in the background when blurred */
.page#backup-codes-intro:not(.enforce-view-transition-names):not(:target) :is(.page-header, .page-footer) > :not(.nq-notice) {
    opacity: 0;
}

/* individual export backup codes page and element styles */

.page:is([id*="backup-codes"]):not(#backup-codes-unlock) .page-header {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

.page:is(#backup-codes-intro, #backup-codes-send-code-1, #backup-codes-send-code-2, #backup-codes-success) .nq-notice {
    text-align: center;
    line-height: 1.38;
}

.page:is(#backup-codes-intro, #backup-codes-send-code-1, #backup-codes-send-code-2, #backup-codes-success) .page-header .nq-notice,
.page#backup-codes-send-code-1 .page-footer .nq-notice {
    margin-top: 1.75rem;
    color: rgba(255, 255, 255, .7);
}

.page:is(#backup-codes-intro, #backup-codes-success) .page-footer .nq-notice {
    margin: 1rem 0;
}

.page#backup-codes-intro .page-footer .nq-notice {
    margin-bottom: 1.25rem;
    white-space: pre-line;
}

.page#backup-codes-success .page-footer .nq-notice {
    margin: 0 3rem 3.25rem;
}

.page#backup-codes-send-code-1.loading .page-footer .hide-loading,
.page#backup-codes-send-code-1:not(.loading) .page-footer .show-loading {
    display: none;
}

.page#backup-codes-send-code-1 .page-footer .nq-link {
    margin: -1.5rem 0 1rem;
}

.page:is(#backup-codes-send-code-1-confirm, #backup-codes-send-code-2-confirm) .page-footer .nq-button-s {
    margin-bottom: 2rem;
    padding: 0 3rem;
    align-self: center;
    background: rgba(255, 255, 255, .1);
}
