.row {
    display: flex;
    flex-direction: row;
}

.row p {
    margin: 0;
}

.nq-text.nq-red {
    opacity: 1;
}

.warning-sign {
    width: 9.25rem;
    height: 9.25rem;
    flex-shrink: 0;
    margin-left: 4rem;
    align-self: flex-start;
}

.page#download-key-file .page-body {
    text-align: center;
}

.walletfile,
.walletfile-locked {
    width: 9rem;
    height: 11.75rem;
}

.page#remove-key .page-body button {
    margin: 2rem 2rem 0 0;
}

.privacy-agent .privacy-warning p {
    margin-bottom: 0;
}

.page#remove-key:not(.show-final-confirm) .final-confirm,
.page#remove-key.show-final-confirm .hide-for-final-confirm,
.page#download-key-file.show-download .hide-for-download,
.page#download-key-file:not(.show-download) .download-key-file,
.page#download-key-file:not(.show-download) .back-to-remove {
    display: none;
}

.page#remove-key .backup-option {
    display: flex;
    align-items: center;
    margin: 0 3rem;
}

.page#remove-key .backup-option + .backup-option {
    margin-top: 2.5rem;
}

.page#remove-key .backup-option .login-file-svg-container,
.page#remove-key .backup-option img {
    min-width: 8.375rem;
    height: 14.25rem;
}

.page#remove-key .backup-option .login-file-svg-container svg {
    width: 100%;
    height: 100%;
}

.page#remove-key .backup-option > *:nth-child(2) {
    margin-left: 3rem;
}

.page#remove-key .backup-option .question {
    line-height: 1.4;
}

.page#remove-key .page-body {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.page#remove-key .page-footer button {
    margin: 3.5rem auto 3rem;
    width: calc(100% - 10rem);
}

.page#remove-key:not(.show-final-confirm) #remove-key-label-confirm {
    width: 100%;
    height: 14.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.625rem;
    font-size: 1.75rem;
    border-radius: 0.5rem;
    margin: 0;
    cursor: text;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.page#remove-key #remove-key-label-confirm div {
    margin-top: 1.4rem;
    flex-grow: 1;
    color: rgba(255, 255, 255, 0.8);
}

.page#remove-key #remove-key-label-confirm #label {
    margin-top: 1.4rem;
    flex-grow: 1;
    color: #fff;
}

.page#remove-key #remove-key-label-confirm input {
    font-size: 3.6rem;
    border: none;
    margin-bottom: 4rem;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    text-align: center;
}
