language: node_js

node_js:
  - "9"

cache:
  directories:
  - node_modules

addons:
  chrome: stable

before_install:
  - export DISPLAY=:99.0
  - CHROME_BIN=/usr/bin/google-chrome-stable

script:
  - yarn typecheck
  - yarn lint
  - yarn test
