.page#download-key-file.show-download .hide-for-download {
    display: none;
}

.page#download-key-file:not(.show-download) .download-key-file {
    display: none;
}

.page#download-key-file .download-icon {
    align-self: center;
}

.page#download-key-file .nq-icon.walletfile,
.page#download-key-file .nq-icon.arrow-down {
    display: block;
    margin: auto;
}

.page#download-key-file .walletfile {
    width: 9rem;
    height: 11.75rem;
    width: 100%;
}

.page#download-key-file .arrow-down {
    width: 3rem;
    height: 3rem;
    opacity: 0.3;
    margin-top: 1rem;
}

.page-footer {
    padding: 1rem;
}
