.page#unlock {
    position: relative;
}

.page#unlock .lock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.page#unlock .nq-icon.locked {
    width: 8rem;
    height: 11.52875rem;
    flex-shrink: 0;
    opacity: 0.4;
}

.page#unlock .blurred-identicons {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.page#unlock .blurred-identicons img {
    width: 39.328rem;
    opacity: 0.2;
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
}

.page#unlock .page-header,
.page#unlock .page-body,
.page#unlock .page-footer {
    z-index: 1;
}

.page#unlock .page-body,
.page#choose-identicon .page-body {
    display: flex;
    flex-direction: column;
}

.page#choose-identicon .page-body {
    justify-content: center;
}

.identicon-selector .generate-more {
    margin-top: 5rem;
}

.page#choose-identicon {
    position: relative;
}

#account-details {
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    background-color: rgba(255,255,255, 0.75);
    z-index: -1;
    opacity: 0;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: opacity .4s 0s, z-index 0s .4s;
}

.account-details-open > #account-details {
    z-index: 3;
    transition-delay: 0s;
    opacity: 1;
}

#details {
    flex-direction: column;
    align-items: center;
}

#effect-container {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 1rem;
    flex-grow: 1;
}

#effect-container > * {
    transition: filter .4s, opacity .4s;
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
}

.account-details-open > #effect-container > .page-header,
.account-details-open > #effect-container > .page-body {
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
    filter: blur(20px);
    opacity: 0.5;
}

#account-details #close-details {
    position: absolute;
    right: 2rem;
    top: 2rem;
    opacity: 0.16;
    border: 0rem;
    background: transparent;
    padding: 0;
    transition: opacity .3s ease;
}

#account-details #close-details svg {
    width: 3rem;
    height: 3rem;
}

#account-details #close-details::after {
    content: '';
    position: absolute;
    left: -1.5rem;
    right: -1.5rem;
    top: -1.5rem;
    bottom: -1.5rem;
    cursor: pointer;
}

#account-details #close-details:hover,
#account-details #close-details:focus {
    opacity: 0.25;
    outline: none;
}

#account-details .nq-button {
    margin: 0 2rem;
}

#account-details .identicon {
    margin-top: 8rem;
}

#account-details .address {
    margin-top: 8rem;
}
