.identicon-selector {
    width: 100%;
    text-align: center;
}

.identicon-selector .wrapper {
    width: 14.25rem;
    height: 14.25rem;
    position: absolute;
    will-change: transform;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.identicon-selector .wrapper .identicon {
    width: 100%;
    height: 100%;
    animation: pop-in 500ms ease;
    animation-fill-mode: forwards;
    transform: scale(0);
}

.identicon-selector .wrapper .address {
    visibility: hidden;
    text-align: center;
    transform: scale(0.5);
    margin-top: 5rem;
    color: white;
}

@keyframes pop-in {
    from { transform: scale(0); }
    to   { transform: scale(1); }
}

.identicon-selector .wrapper .identicon,
.identicon-selector .wrapper .identicon img,
.identicon-selector .wrapper .address {
    transition: transform 500ms;
}

.identicon-selector .wrapper:hover {
    cursor: pointer;
}

.identicon-selector .identicons {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 41rem;
    position: relative;
}

.identicon-selector .wrapper:nth-child(1) { transform: translate(  0.0rem, -14.25rem); }
.identicon-selector .wrapper:nth-child(2) { transform: translate(-12.5rem,  -7.25rem); }
.identicon-selector .wrapper:nth-child(3) { transform: translate( 12.5rem,  -7.25rem); }
.identicon-selector .wrapper:nth-child(4) { transform: translate(  0.0rem,   0.00rem); }
.identicon-selector .wrapper:nth-child(5) { transform: translate(-12.5rem,   7.25rem); }
.identicon-selector .wrapper:nth-child(6) { transform: translate( 12.5rem,   7.25rem); }
.identicon-selector .wrapper:nth-child(7) { transform: translate(  0.0rem,  14.25rem); }

.identicon-selector .wrapper:nth-child(1) .identicon { animation-delay: 100ms; }
.identicon-selector .wrapper:nth-child(2) .identicon { animation-delay: 150ms; }
.identicon-selector .wrapper:nth-child(3) .identicon { animation-delay: 150ms; }
.identicon-selector .wrapper:nth-child(4) .identicon { animation-delay: 200ms; }
.identicon-selector .wrapper:nth-child(5) .identicon { animation-delay: 250ms; }
.identicon-selector .wrapper:nth-child(6) .identicon { animation-delay: 250ms; }
.identicon-selector .wrapper:nth-child(7) .identicon { animation-delay: 300ms; }


.identicon-selector .generate-more {
    background: #e5e5e5;
    padding: 8px 14px;
    width: unset;
    height: unset;
    font-size: 14px;
    line-height: 0.86;
    box-shadow: unset;
    text-transform: unset;
    letter-spacing: 0;
    color: black;
    margin: 4rem 0;
}

.identicon-selector .backdrop {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    transition: opacity 500ms;
    will-change: opacity;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
}

.identicon-selector .backdrop button {
    opacity: 0;
    transition: transform 500ms;
    will-change: transform;
    transition-delay: 300ms;
    position: absolute;
    bottom: 6rem;
    pointer-events: none;
    margin: 0;
}

.identicon-selector .backdrop .secondary {
    position: absolute;
    margin-bottom: 2rem;
    bottom: 0;
}

.identicon-selector.selected .backdrop,
.identicon-selector.selected .backdrop button {
    opacity: 1;
    pointer-events: all;
}

.identicon-selector .wrapper.selected,
.identicon-selector .wrapper.returning {
    z-index: 3;
    transition: transform 500ms;
    transition-delay: 0s !important;
}

.identicon-selector .wrapper.selected {
    transform: translateY(-5rem);
    width: 100%;
    pointer-events: none;
}

.identicon-selector .wrapper.selected img {
    transform: scale(1.5);
}

.identicon-selector .wrapper.selected .address {
    visibility: visible;
    transform: scale(1.1);
}
