.page .actionbox p {
    max-width: 32rem;
    margin-left: auto;
    margin-right: auto;
}

.page#choose-identicon .page-body {
    position: relative;
}

.page#choose-identicon .page-body p:last-of-type {
    margin-bottom: 2rem;
}

.page-footer {
    padding: 1rem;
}

.keyfile-info {
    display: flex;
    flex-direction: row;
}

.keyfile-info p:first-child {
    margin-top: 0;
}

.keyfile-info p:last-child {
    margin-bottom: 0;
}

.nq-icon.walletfile {
    width: 9rem;
    height: 11.75rem;
    margin-right: 4rem;
    flex-shrink: 0;
}

.page#recovery-words .skip-container {
    text-align: center;
}

.page#recovery-words .skip {
    color: inherit;
    cursor: pointer;
}

.page-header {
    padding-top: 5.5rem;
}

.page-header .progress-indicator {
    position: absolute;
    left: 0;
    top: 0;
}

.page-header .page-header-back-button {
    top: 5.5rem;
}
