.page#intro .page-body {
    padding-bottom: 2rem;
}

.page#intro .login-file-fan {
    flex-grow: 1;
    align-self: stretch;
    position: relative;
}

.page#intro .login-file-fan img {
    position: absolute;
    height: 23rem;
    left: 50%;
    top: 50%;
    margin-left: -9rem;
    margin-top: -11.5rem;

    transform-origin: 100% 125%;

    animation: fan-out 1s cubic-bezier(0.83, 0, 0.17, 1) forwards reverse;
}

.page#intro .login-file-fan img:nth-child(5) {
    transform: rotate(-4.47deg);
}

.page#intro .login-file-fan img:nth-child(4) {
    transform: rotate(1.53deg);
}

.page#intro .login-file-fan img:nth-child(3) {
    transform: rotate(7.53deg);
}

.page#intro .login-file-fan img:nth-child(2) {
    transform: rotate(13.53deg);
}

.page#intro .login-file-fan img:nth-child(1) {
    transform: rotate(19.53deg);
}

@keyframes fan-out {
    to { transform: rotate(0deg); }
}

.page#intro .page-body p {
    text-align: center;
    margin: 2rem auto 0;
    font-size: 2rem;
    font-weight: 600;
    max-width: 35rem;
}

.page#intro .page-body,
.page#set-password .page-body {
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.page#set-password .page-body p {
    text-align: center;
    margin-top: 3rem;
    font-size: 2rem;
    white-space: pre-line;
}

.page#set-password.repeat-password .hide-on-repetition,
.page#set-password:not(.repeat-password) .show-on-repetition {
    display: none;
}

.page#login-file-download .page-body {
    display: flex;
    flex-direction: column;
}

.page#login-file-download.loginfile-download-initiated .page-header .nq-h1:not(.confirm-download),
.page#login-file-download:not(.loginfile-download-initiated) .page-header .confirm-download,
.page#login-file-download.loginfile-download-initiated .skip {
    display: none;
}

.page#login-file-download .skip {
    margin-top: -2.5rem;
    margin-bottom: 1.5rem;
}

.page#login-file-explainer .nq-notice {
    margin-top: 2rem;
}

.page#login-file-explainer .page-body {
    padding-top: 2rem;
    padding-left: 0;
}

.page#login-file-explainer .page-body p {
    color: white;
}

.page#login-file-explainer .page-body p + p {
    margin-top: 2.5rem;
}

.page#login-file-explainer .page-body img {
    float: left;
    border-top-right-radius: 0.615rem;
    border-bottom-right-radius: 0.615rem;
    margin: 0.5rem 4rem 0 0;
}
