.page#choose-identicon .page-body {
    padding-bottom: 3rem;
}

.page#choose-identicon .page-body,
.page#set-password .page-body {
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.page#set-password .page-body p {
    text-align: center;
    margin-top: 3rem;
    font-size: 2rem;
    white-space: pre-line;
}

.page#set-password.repeat-password .hide-on-repetition,
.page#set-password:not(.repeat-password) .show-on-repetition {
    display: none;
}

.overlay {
    align-items: center;
}

.overlay .identicon {
    width: 18rem;
    height: 18rem;
    margin-top: 5rem;
    margin-bottom: -0.75rem;
}

.overlay .address {
    width: 100%;
    max-width: 27.375rem;
    box-sizing: content-box;
    text-transform: uppercase;
    line-height: 1.75;
    opacity: 1;
    color: rgba(31, 35, 72, .5);
    margin-top: 3rem;
    font-size: 3rem;
    white-space: pre-wrap;
    word-spacing: 0.75rem;
    padding-left: 0.75rem;
}

.overlay .nq-button {
    margin-bottom: 4rem;
}

.page#login-file-download .page-body {
    display: flex;
    flex-direction: column;
}

.page#login-file-download.loginfile-download-initiated .page-header .nq-h1:not(.confirm-download),
.page#login-file-download:not(.loginfile-download-initiated) .page-header .confirm-download,
.page#login-file-download.loginfile-download-initiated .skip {
    display: none;
}

.page#login-file-download .skip {
    margin-top: -2.5rem;
    margin-bottom: 1.5rem;
}

.page#login-file-explainer .nq-notice {
    margin-top: 2rem;
}

.page#login-file-explainer .page-body {
    padding-top: 2rem;
    padding-left: 0;
}

.page#login-file-explainer .page-body p {
    color: white;
}

.page#login-file-explainer .page-body p + p {
    margin-top: 2.5rem;
}

.page#login-file-explainer .page-body img {
    float: left;
    border-top-right-radius: 0.615rem;
    border-bottom-right-radius: 0.615rem;
    margin: 0.5rem 4rem 0 0;
}
