.page#set-password .page-body,
.page#choose-identicon .page-body {
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.page#set-password .page-body h2,
.page#choose-identicon .page-body h2 {
    text-align: center;
    font-weight: normal;
    margin-top: 3rem;
}

.page#set-password.repeat-password .hide-on-repetition,
.page#set-password:not(.repeat-password) .show-on-repetition  {
    display: none;
}

.wallet-identifier {
    width: 20rem;
    height: 20rem;
    text-align: center;
}

.wallet-identifier .identicon {
    width: 7rem;
    height: 7rem;
    position: absolute;
    animation: wallet-identifier-pop-in .7s ease;
    animation-delay: 150ms;
    animation-fill-mode: both;
}

@keyframes wallet-identifier-pop-in {
    0%   { transform: translate(-0.5rem, 2.5rem) scale(0); opacity: 0; }
    30%  { transform: translate( 0.2rem, 3.5rem) scale(1.2); }
    80%  { transform: translate( 0.2rem, 3.5rem) scale(1); opacity: 1; }
    100% { transform: translate( 0.2rem, 3.5rem) scale(1); }
}

.wallet-identifier .nq-icon {
    font-size: 7rem;
    position: absolute;
    opacity: 0.08;
}

.wallet-identifier .nq-icon:nth-child(1) { transform: translate(-3.5rem, 0rem); }
.wallet-identifier .nq-icon:nth-child(2) { transform: translate( 3rem, 3.5rem); }
.wallet-identifier .nq-icon:nth-child(3) { transform: translate( 3rem, 10.75rem); }
.wallet-identifier .nq-icon:nth-child(4) { transform: translate(-3.5rem, 14.25rem); }
.wallet-identifier .nq-icon:nth-child(5) { transform: translate(-10rem, 10.75rem); }
