.privacy-agent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 368px;
    flex-grow: 1;
    /* height: 100%; */
    margin-top:  16px;
}

.privacy-agent h1 {
    color: var(--error-color);
    padding: 16px 0;
    font-weight: 500;
    font-size: 24px;
}

.privacy-agent p {
    max-width: 400px;
    font-size: 15px;
}

.privacy-agent svg {
    opacity: 0.8;
    display: block;
}

.privacy-agent button {
    margin-top: 0;
}

.privacy-agent-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: white;
    padding: 24px 16px;
    display: flex;
    color: rgba(0,0,0,0.98);
    border-radius: 12px;
    text-align: center;
    margin-bottom: 16px;
    box-shadow:  rgba(0, 0, 0, 0.5) 0 2px 4px;
}

@media (max-height: 500px) {
    .privacy-agent-container svg {
        /* display: none; */
    }
}
