#layout-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*
#######################################
#### S T A N D A R D   L A Y O U T ####
#######################################
*/

.transaction .accounts {
    flex-direction: row;
    align-items: flex-start;
}

.transaction .account {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transaction .account .identicon {
    width: 8rem;
    height: 8rem;
    margin-bottom: 2rem;
}

.transaction .account .label {
    font-size: 2.25rem;
    line-height: 2.5rem;
    height: 2.5rem;
    font-weight: 600;
    margin-bottom: 1.25rem;
}

.transaction .account > .address {
    white-space: unset;
}

.transaction .arrow {
    margin: 3rem 1rem;
    height: 2rem;
    width: 2rem;
}

.transaction .total {
    text-align: center;
}

.transaction .total #value {
    font-size: 6rem;
    line-height: 8rem;
}

.transaction .total .nim-symbol {
    margin-left: 1rem;
}

.transaction .fee-section {
    text-align: center;
    opacity: 0.5;
}

.transaction .data-section {
    margin: 2rem 3rem 0;
    text-align: center;
}

.layout-standard .nq-card-footer {
    border-radius: 0;
}

.page-footer {
    padding: 1rem;
}

.layout-standard ~ .page-footer {
    background: white;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

/*
#######################################
#### C H E C K O U T   L A Y O U T ####
#######################################
*/

.payment-info-line {
    margin-top: -3.5rem;
}

.transaction-section {
    background: var(--nimiq-card-header-bg);
    border-bottom: 1px solid var(--nimiq-card-border-color);
    padding-bottom: 3rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    flex-grow: 1;
}

.layout-checkout h1 {
    font-size: 3rem;
    line-height: 3.625rem;
    letter-spacing: 0.021em;
    font-weight: normal;
    padding: 4rem 4rem 1rem 4rem;
    margin: 0;
}

.layout-checkout h1 strong {
    font-weight: bold;
}

.layout-checkout h1 .nim-symbol::before {
    opacity: 1;
}

.layout-checkout .account {
    flex-direction: row;
    padding: 1.5rem 4rem;
}

.layout-checkout .account .identicon {
    margin-right: 2rem;
    margin-bottom: 0;
    flex-shrink: 0;
}

.layout-checkout .account-text {
    display: flex;
    flex-direction: column;
    width: calc(100% - 10rem);
}

.layout-checkout .account .label {
    margin-bottom: 0.5rem;
}

.layout-checkout .data-section {
    margin: 1rem 4rem;
    text-align: left;
}

.layout-checkout .sender-section {
    background: var(--nimiq-card-bg);
    padding-bottom: 1.5rem;
}

.layout-checkout .sender-section .nq-label {
    margin: 3rem 3rem 2rem 3rem;
}
