.page-body {
    background-color: #fafafa;
    padding: 4rem;
}

#privacy.page.key-active .hide-if-key-active {
    display:none;
}

#privacy.page:not(.key-active) .page-footer button:not(.submit) {
    display:none;
}

#privacy.page .page-footer button:not(.submit),
#recovery-words.page .page-footer button:not(.submit) {
    margin: 4rem 7.5rem;
    background: var(--nimiq-purple);
    color: white;
}
