#privacy.page.key-active .hide-if-key-active {
    display: none;
}

#privacy.page:not(.key-active) .page-footer button:not(.submit) {
    display: none;
}

#recovery-words .recovery-words {
    margin: 0;
}

#validate-words .validate-words .word-list {
    margin: 0;
}

.page-footer {
    padding: 1rem;
}
