.page.layout-slider {
    max-width: 63.5rem;
}

.nim-symbol,
.btc-symbol,
.usdc-symbol,
.usdt-symbol,
.eur-symbol {
    margin-left: 0.25em;
}

.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-column {
    text-align: left;
    justify-content: flex-start;
}

.right-column {
    text-align: right;
    justify-content: flex-end;
}

.nq-notice {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    margin: 2rem auto 0 auto !important;
    column-gap: 1rem;
    font-weight: 600;
    height: 2.625rem;
    color: rgba(31, 35, 72, 0.5);
}

.nq-notice .tooltip + .tooltip {
    margin-left: 0.75rem;
}

.nq-notice .fee-breakdown {
    justify-self: self-start;
}

.tooltip .tooltip-box {
    text-align: left;
    width: 25.5rem;
    font-size: 2rem;
}

.label {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.3;
}

.identicon img {
    display: block;
}

/********************************************
 *             STANDARD LAYOUT              *
 ********************************************/

.page-body.layout-standard {
    display: flex;
    flex-direction: column;
    padding-bottom: 2.25rem;
}

.layout-standard .accounts {
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 2rem;
    flex-shrink: 0;
    margin-top: 1rem;
}

.layout-standard .account {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    width: calc(50% - 1.5rem);
    color: var(--nimiq-dark-blue);
    outline: none;
}

/* .address-info:not(.detailed-view):not(.cashlink) {
    cursor: pointer;
} */

.layout-standard .account .identicon {
    width: 9rem;
    height: 9rem;
    border-radius: 1rem;
    transition: transform 0.45s var(--nimiq-ease);
    flex-shrink: 0;
}

.layout-standard .account.eur .identicon,
.layout-standard .account.btc .identicon {
    padding: .25rem;
}

/* .address-info:not(.detailed-view):not(.cashlink):focus .identicon,
.address-info:not(.detailed-view):not(.cashlink):hover .identicon {
    transform: scale(1.1);
} */

.layout-standard .account .label {
    font-size: 2rem;
    margin: 1.75rem 0;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 18.5rem; /* 148px, the width the automatic labels are designed for */
}

.layout-standard .account .label.mono {
    font-family: "Fira Mono", "Andale Mono", monospace;
}

.layout-standard .account .unlabelled .label {
    opacity: .5;
}

.layout-standard .account:not(.detailed-view) .label::after {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 100%;
    position: absolute;
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.layout-standard .arrow {
    margin-top: 3.5rem;
    height: 2.25rem;
    width: 3rem;
    color: var(--nimiq-light-blue);
}

.layout-standard .swap-values {
    display: inline-flex;
    align-items: flex-start;
    margin: 0 auto;
}

.layout-standard .from-value {
    font-size: 4rem;
    font-weight: 600;
}

.layout-standard .from-symbol {
    font-size: 0.625em;
    font-weight: bold;
}

.layout-standard .to-value {
    font-size: 2.5rem;
    font-weight: 600;
    opacity: 0.6;
}

.layout-standard .to-value svg {
    opacity: 0.5;
    margin-left: 1.5rem;
    margin-right: 0.375rem;
}

.layout-standard .to-symbol {
    font-size: 0.8em;
    font-weight: bold;
}

/********************************************
 *              SLIDER LAYOUT               *
 ********************************************/

.layout-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.layout-slider .address-infos {
    margin-bottom: 2.75rem;
}

.layout-slider .left-account,
.layout-slider .right-account {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: var(--currency-columns);
    grid-auto-flow: column;
    column-gap: var(--column-gap);
}

.layout-slider .left-account {
    --currency-columns: 1fr auto;
}

.layout-slider .right-account {
    --currency-columns: auto 1fr;
}

.layout-slider .identicon {
    grid-row: 1 / span 2;
}

.layout-slider .right-account > label,
.layout-slider .right-account > span {
    text-align: right;
}

.layout-slider .right-account .identicon {
    grid-column: 2;
}

.layout-slider .identicon {
    width: 5.75rem;
    margin: -0.25rem 0;
}

.layout-slider .nim {
    --column-gap: 1.5rem;
}

.layout-slider .btc,
.layout-slider .usdc,
.layout-slider .usdt {
    --column-gap: 2rem;
}

.layout-slider .btc .identicon,
.layout-slider .usdc .identicon,
.layout-slider .usdt .identicon {
    width: 5.25rem;
    height: 5.25rem;
    margin: -0.25rem 0;
}

.layout-slider .new-balance {
    color: rgba(31, 35, 72, 0.5);
    font-size: 1.625rem;
    font-weight: 600;
}

.layout-slider .swap-values {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1;
}

.layout-slider .fiat {
    font-size: 2rem;
    font-weight: 600;
}

.layout-slider .swap-values.left-to-right .right-column,
.layout-slider .swap-values.right-to-left .left-column {
    color: var(--nimiq-green);
}

.layout-slider .swap-values.left-to-right .right-column .fiat,
.layout-slider .swap-values.right-to-left .left-column .fiat {
    opacity: 0.7;
}

.layout-slider .swap-values.left-to-right .left-column .fiat,
.layout-slider .swap-values.right-to-left .right-column .fiat {
    opacity: 0.4;
}
