.address-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--nimiq-dark-blue);
    outline: none;
}

.address-info:not(.detailed-view):not(.cashlink) {
    cursor: pointer;
}

.address-info .identicon {
    width: 10rem;
    height: 10rem;
    transition: transform 0.45s var(--nimiq-ease);
}

.address-info .identicon.clip {
    position: relative;
}

.address-info .identicon.clip > img {
    clip-path: url(#nimiq-rounded-hexagon);
}

.address-info .identicon.clip::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" width="146" height="146"><path d="M113.8 16.2l28.7 49.6c2.5 4.5 2.5 10 0 14.4l-28.7 49.6a14.4 14.4 0 0 1-12.5 7.2H44.1c-5.2 0-10-2.7-12.5-7.2L2.9 80.2C.4 75.7.4 70.2 3 65.8l28.7-49.6C34.2 11.7 38.9 9 44 9h57.2c5.2 0 10 2.7 12.5 7.2z" clip-rule="evenodd" stroke="%231f2348" stroke-width="2" opacity="0.2"/></svg>');
    z-index: 1;
}

.address-info.cashlink .identicon {
    border-radius: 50%;
    border: .25rem solid rgba(31, 35, 72, .1);
    padding: .25rem;
}

.address-info.cashlink .identicon > img {
    border-radius: 50%;
}

.address-info:not(.detailed-view):not(.cashlink):focus .identicon,
.address-info:not(.detailed-view):not(.cashlink):hover .identicon {
    transform: scale(1.1);
}

.address-info:not(.detailed-view) .label {
    font-size: 2rem;
    margin: 1.25rem 0;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 18.5rem; /* 148px, the width the automatic labels are designed for */
}

.address-info .label.mono {
    font-family: "Fira Mono", "Andale Mono", monospace;
}

.address-info.cashlink .label {
    opacity: .5;
}

.address-info:not(.detailed-view) .label::after {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 100%;
    position: absolute;
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}
