.address {
    width: 100%;
    max-width: 28.25rem;
    font-family: 'Fira Mono', monospace;
    opacity: 0.5;
    margin-top: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 3rem;
}

.address > .chunk {
    margin: 0.875rem 0;
    line-height: 1.11;
    width: 33%;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase;
}

.address .chunk::after {
    font-size: 0;
    content: ' ';
}
