.address-info {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--nimiq-dark-blue);
    outline: none;
}

.address-info:not(.detailed-view):not(.cashlink) {
    cursor: pointer;
}

.address-info .identicon {
    width: 10rem;
    height: 10rem;
    border-radius: 1rem;
    transition: transform 0.45s var(--nimiq-ease);
    flex-shrink: 0;
}

.address-info.cashlink .identicon {
    border-radius: 50%;
    border: .25rem solid rgba(31, 35, 72, .1);
    padding: .25rem;
}

.address-info.cashlink .identicon > .nq-icon {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.address-info:not(.detailed-view):not(.cashlink):focus .identicon,
.address-info:not(.detailed-view):not(.cashlink):hover .identicon {
    transform: scale(1.1);
}

.address-info:not(.detailed-view) .label {
    font-size: 2rem;
    margin: 1.25rem 0;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 18.5rem; /* 148px, the width the automatic labels are designed for */
}

.address-info .label.mono {
    font-family: "Fira Mono", "Andale Mono", monospace;
}

.address-info.cashlink .label {
    opacity: .5;
}

.address-info:not(.detailed-view) .label::after {
    content: '';
    display: inline-block;
    width: 2rem;
    height: 100%;
    position: absolute;
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}
