.backup-codes-illustration-base {
    contain: size layout paint style;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 26rem;
    padding: 0;
}

/* message-bubble variables */

.backup-codes-illustration-base .message-bubble {
    --zoom: 1;
    /* to avoid rendering at sub-pixel precision, we round values */
    --message-bubble-width: round(calc(27rem * var(--zoom)), 1px);
    --message-bubble-min-height: round(calc(12rem * var(--zoom)), 1px);
    --message-bubble-padding: round(calc(1.5rem * var(--zoom)), 1px);
    --message-bubble-padding-bottom: round(calc(2.5rem * var(--zoom)), 1px);
    --label-font-size: round(calc(1.75rem * var(--zoom)), 1px);
    --label-margin-bottom: round(calc(1rem * var(--zoom)), 1px);
    --code-font-size: round(calc(1.75rem * var(--zoom)), 1px);
    --counter-size: round(calc(3rem * var(--zoom)), 1px);
    --counter-offset: round(calc(3rem * var(--zoom) * .4), 1px);
    --counter-font-size: round(calc(1.5rem * var(--zoom)), 1px);
    --counter-checkmark-size: round(calc(1.25rem * var(--zoom)), 1px);
}

/* fallback if rounding is not supported */
@supports not (width: round(1.2px, 1px)) {
    .backup-codes-illustration-base .message-bubble {
        --message-bubble-width: calc(27rem * var(--zoom));
        --message-bubble-min-height: calc(12rem * var(--zoom));
        --message-bubble-padding: calc(1.5rem * var(--zoom));
        --message-bubble-padding-bottom: calc(2.5rem * var(--zoom));
        --label-font-size: calc(1.75rem * var(--zoom));
        --label-margin-bottom: calc(1rem * var(--zoom));
        --code-font-size: calc(1.75rem * var(--zoom));
        --counter-size: calc(3rem * var(--zoom));
        --counter-offset: calc(3rem * var(--zoom) * .4);
        --counter-font-size: calc(1.5rem * var(--zoom));
        --counter-checkmark-size: calc(1.25rem * var(--zoom));
    }
}

/* common message-bubble styles */

.backup-codes-illustration-base .message-bubble {
    position: absolute;

    width: var(--message-bubble-width);
    min-height: var(--message-bubble-min-height); /* min-height instead of height to allow code to break into 3 lines */
    padding: var(--message-bubble-padding);
    padding-bottom: var(--message-bubble-padding-bottom);

    line-height: 1;
    filter: drop-shadow(0 0 calc(20px * var(--zoom)) rgba(0, 0, 0, 0.3))
        drop-shadow(0 calc(1.34px * var(--zoom)) calc(4.47px * var(--zoom)) rgba(59, 76, 106, 0.0775))
        drop-shadow(0 calc(0.4px * var(--zoom)) calc(1.33px * var(--zoom)) rgba(59, 76, 106, 0.0525));
}

/* background */
/* As separate element with mask-image, such that the drop-shadow is not cut off by the mask-image. */

.backup-codes-illustration-base .message-bubble .background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}
.backup-codes-illustration-base .message-bubble.code-1 .background {
    /* left message bubble */
    background-image: radial-gradient(141.42% 141.42% at 100% 100%, #693BC4 0%, #8F3FD5 100%);
    /* As mask-image to be able to scale with the zoomed element, and clip-path with shape() as alternative is not
    widely supported yet */
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 216 96" preserveAspectRatio="none"><path d="M0 3a3 3 0 0 1 3-3h210a3 3 0 0 1 3 3v75.9a3 3 0 0 1-3 3H24.5a3 3 0 0 0-1.8.6l-18 13A3 3 0 0 1 0 93z"/></svg>');
}
.backup-codes-illustration-base .message-bubble.code-2 .background {
    /* right message bubble */
    background-image: radial-gradient(141.42% 141.42% at 0% 100%, #DC1845 0%, #F33F68 100%);
    /* As mask-image to be able to scale with the zoomed element, and clip-path with shape() as alternative is not
    widely supported yet */
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 216 96" preserveAspectRatio="none"><path d="M216 3a3 3 0 0 0-3-3H3a3 3 0 0 0-3 3v75.9a3 3 0 0 0 3 3h188.5a3 3 0 0 1 1.8.6l18 13A3 3 0 0 0 216 93z"/></svg>');
}

/* label and backup code */

.backup-codes-illustration-base .message-bubble .label {
    margin-bottom: var(--label-margin-bottom);
    font-size: var(--label-font-size);
    font-weight: 500;
    line-height: 1;
    color: rgba(255, 255, 255, .6);
}

.backup-codes-illustration-base .message-bubble .code {
    font-size: var(--code-font-size);
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: -.0095em; /* best effort to limit the code to two lines of text, which works for most codes */
    word-break: break-all;
    overflow-wrap: anywhere;
    color: white;
}

/* counter circle */

.backup-codes-illustration-base .message-bubble::after,
.backup-codes-illustration-base .message-bubble .background::after {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: var(--counter-size);
    height: var(--counter-size);
    top: calc(-1 * var(--counter-offset));
    left: calc(-1 * var(--counter-offset));
    border-radius: 50%;
    font-size: var(--counter-font-size);
    font-weight: 700;
    background-color: white;
}
.backup-codes-illustration-base .message-bubble.code-1::after {
    content: '1';
    color: #8D3FD4;
}
.backup-codes-illustration-base .message-bubble.code-2::after {
    content: '2';
    color: #F33E67;
}
.backup-codes-illustration-base .message-bubble .background::after {
    /* To avoid overlapping drop shadows, we don't have individual drop shadows on the message-bubble background and the
    counter circle, but instead have a single drop shadow on the entire message-bubble. However, the counter circle
    should also cast part of its shadow on the background, which we emulate via a copy of the circle on the background
    element. Note that the shadow of that copy is limited to the background via the background's mask-image, such that
    this shadow does not overlap with the message-bubble's shadow. */
    content: '';
    filter: drop-shadow(0 0 calc(20px * var(--zoom)) rgba(0, 0, 0, 0.2))
        drop-shadow(0 calc(1.34px * var(--zoom)) calc(4.47px * var(--zoom)) rgba(59, 76, 106, 0.1775))
        drop-shadow(0 calc(0.4px * var(--zoom)) calc(1.33px * var(--zoom)) rgba(59, 76, 106, 0.1525));
}

/* message-bubble states */

.backup-codes-illustration-base .message-bubble:is(.masked, .loading) .label {
    color: white;
}
.backup-codes-illustration-base .message-bubble:is(.masked, .loading) .code {
    /* Make the text transparent and redact it with a rounded box as background image instead. As the text is an inline
    element, the background is applied to the lines of text, nicely matching the length of the lines. */
    line-height: 1.2;
    color: transparent;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 20" preserveAspectRatio="none"><rect opacity="0.15" width="192" height="14" y="3" rx="3" fill="white"/></svg>');
    /* Apply background to each line of text individually, such that each line has the rounded borders. */
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
    user-select: none;
    pointer-events: none;
}
.backup-codes-illustration-base .message-bubble:is(.masked, .loading) .code:empty::after {
    /* Placeholder content if no code is set yet */
    content: '----------------------------------------------------------';
}

.backup-codes-illustration-base .message-bubble:not(.faded).loading .code {
    animation: backup-codes-illustration-base-loading-animation .8s cubic-bezier(.76, .29, .29, .76) alternate infinite;
}

@keyframes backup-codes-illustration-base-loading-animation {
    from { opacity: 1; }
    to { opacity: .6; }
}

.backup-codes-illustration-base .message-bubble.faded {
    filter: none;
    opacity: .1;
}
.backup-codes-illustration-base .message-bubble.faded .background {
    background: white !important;
}
.backup-codes-illustration-base .message-bubble.faded::after,
.backup-codes-illustration-base .message-bubble.faded .background::after {
    content: '' !important;
    background-image: none !important;
    filter: none;
}

.backup-codes-illustration-base .message-bubble.zoomed {
    --zoom: calc(10 / 7);
}
.backup-codes-illustration-base .message-bubble.zoomed .code {
    line-height: 1.35;
}

.backup-codes-illustration-base:not(.backup-codes-success) .message-bubble.complete.code-1 .background {
    background-image: radial-gradient(100% 100% at 100% 100%, #41A38E 0%, #21BCA5 100%);
}
.backup-codes-illustration-base:not(.backup-codes-success) .message-bubble.complete.code-2 .background {
    background-image: radial-gradient(100% 100% at 0% 100%, #41A38E 0%, #21BCA5 100%);
}
.backup-codes-illustration-base .message-bubble.complete::after {
    /* replace counter with a checkmark icon */
    content: '';
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" fill="none"><path stroke="%2313b59d" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1 3.3 9 1 6.7"/></svg>');
    background-size: var(--counter-checkmark-size);
    background-repeat: no-repeat;
    background-position: center;
}

/* View transition setup */

.page:not(.disable-view-transition-names):target .backup-codes-illustration-base .message-bubble.code-1,
.page.enforce-view-transition-names .backup-codes-illustration-base .message-bubble.code-1 {
    view-transition-name: backup-codes-illustration-base-code-1;
}
.page:not(.disable-view-transition-names):target .backup-codes-illustration-base .message-bubble.code-2,
.page.enforce-view-transition-names .backup-codes-illustration-base .message-bubble.code-2 {
    view-transition-name: backup-codes-illustration-base-code-2;
}
::view-transition-group(*) {
    animation-duration: var(--backup-codes-view-transition-duration); /* set in BackupCodesIllustrationBase.js */
}
::view-transition-old(backup-codes-illustration-base-code-1),
::view-transition-new(backup-codes-illustration-base-code-1),
::view-transition-old(backup-codes-illustration-base-code-2),
::view-transition-new(backup-codes-illustration-base-code-2) {
    height: 100%;
}
