/* message-bubble positioning for individual steps */

.backup-codes-illustration.backup-codes-intro .message-bubble.code-1,
.backup-codes-illustration.backup-codes-success .message-bubble.code-1 {
    transform: translate(-4.5rem, -3.5rem);
    transform: translate(round(-4.5rem, 1px), round(-3.5rem, 1px));
}
.backup-codes-illustration.backup-codes-intro .message-bubble.code-2,
.backup-codes-illustration.backup-codes-success .message-bubble.code-2 {
    transform: translate(4.5rem, 3.5rem);
    transform: translate(round(4.5rem, 1px), round(3.5rem, 1px));
}

.backup-codes-illustration.backup-codes-send-code-1 .message-bubble.code-2,
.backup-codes-illustration.backup-codes-send-code-1-confirm .message-bubble.code-2 {
    transform: translate(12.5rem, 5.25rem);
    transform: translate(round(12.5rem, 1px), round(5.25rem, 1px));
    z-index: -1;
}

.backup-codes-illustration.backup-codes-send-code-2 .message-bubble.code-1,
.backup-codes-illustration.backup-codes-send-code-2-confirm .message-bubble.code-1 {
    transform: translate(-12.5rem, -5.25rem);
    transform: translate(round(-12.5rem, 1px), round(-5.25rem, 1px));
}
