.balance-distribution-bar {
    height: 3.5rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.balance-distribution-bar .bar {
    height: 2.5rem;
    min-width: 0.25rem;
    border-radius: 0.5rem;
    margin-right: 0.375rem;
    opacity: 0.25;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.balance-distribution-bar .bar.active {
    opacity: 1;
}

.balance-distribution-bar .bar .change {
    background: url('../assets/swap-change-background.svg') repeat-x;
    height: calc(100% - 0.5rem);
    margin: 0 0.25rem;
    border-radius: 0.125rem;
}

.balance-distribution-bar .bar.bitcoin {
    background-color: #F7931A; /* Bitcoin orange */
}

.balance-distribution-bar .bar:last-child {
    margin-right: 0;
    justify-content: flex-start;
}

.balance-distribution-bar .separator {
    width: 0.25rem;
    height: 3.5rem;
    background: rgba(31, 35, 72, 0.3);
    border-radius: 1rem;
    margin-right: 0.375rem;
    flex-shrink: 0;
}

.balance-distribution-bar > div:first-child {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.balance-distribution-bar > div:last-child {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}
