.download-loginfile {
    display: flex;
    flex-direction: column;
}

.download-loginfile .link-image {
    text-decoration: none;
    color: inherit;
    outline: none;
    height: 40rem;
    margin: auto;
}

.download-loginfile .loginfile {
    height: 100%;
}

.download-loginfile .link-button {
    text-decoration: none;
}

.download-loginfile .link-button button {
    margin-top: 4rem;
    margin-bottom: 0;
}

.download-loginfile .nq-icon.download {
    background-image: url('data:image/svg+xml,<svg width="20" height="20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M15.36 11.38a.83.83 0 0 0-.59-1.42h-3.31a.2.2 0 0 1-.2-.2V1.24a1.25 1.25 0 1 0-2.5 0v8.5c0 .12-.1.2-.22.2H5.23a.83.83 0 0 0-.59 1.43l4.77 4.77c.33.33.86.33 1.18 0l4.77-4.77zM16.02 18.75c0-.69-.55-1.25-1.25-1.25H5.23a1.25 1.25 0 1 0 0 2.5h9.54c.7 0 1.25-.56 1.25-1.25z" fill="white"/></svg>');
}
