.download-loginfile {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    height: 100%;
}

.download-loginfile .link-image {
    text-decoration: none;
    color: inherit;
    outline: none;
    height: 40rem;
    margin: auto;
}

.download-loginfile .loginfile {
    height: 100%;
}

.download-loginfile .link-button button {
    margin-top: 4rem;
    margin-bottom: 0;
}
