.file-import {
    width: 22.5rem;
    flex-grow: 1;
    border: dashed 0.25rem rgba(31, 35, 72, 0.2); /* Based on Nimiq Blue */
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    position: relative;
    transition: border-color 300ms;
}

.file-import * {
    pointer-events: none;
}

.file-import:hover,
.file-import.drag-over {
    border-color: var(--nimiq-light-blue);
}

.file-import h3 {
    line-height: 1.375;
    margin: auto 0;
    max-width: 15rem;
    font-weight: 600;
}

.file-import .error-message {
    display: none;
    margin-bottom: auto;
    font-size: 2rem;
    color: var(--nimiq-red);
}

.qr-code {
    width: 12.375rem;
    height: 12.375rem;
    margin-bottom: 5rem;
    opacity: 0.2;
    transition: color 300ms;
}

.file-import:hover .qr-code,
.file-import.drag-over .qr-code {
    color: var(--nimiq-light-blue);
}

.file-import input {
    display: none;
}

.file-import img {
    position: absolute;
    top: -1rem;
    left: -1rem;
    width: calc(100% + 2rem);
    height: auto;
    display: none;
}

.file-import img.pop-down {
    display: block;
    animation: login-file-pop-down .3s;
}

@keyframes login-file-pop-down {
    from {
        opacity: .2;
        transform: scale(1.05);
    }
}
