.file-import {
    width: 22.5rem;
    height: 37.857rem;
    border: dashed 0.25rem var(--nimiq-light-blue);
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 5rem;
    padding-top: 7.5rem;
    position: relative;
}

.file-import h3 {
    line-height: 1.375;
    margin: 0 4rem;
}

.file-import .click-hint {
    display: block;
    font-size: 1.75rem;
    line-height: 1.5;
    opacity: 0.5;
    margin-bottom: 5rem;
}

.file-import .error-message {
    color: var(--error-color);
}

.file-import input {
    position: absolute;
    top: -10000px;
}

#image-wallet {
    position: absolute;
    top: -1rem;
    left: -1rem;
    width: calc(100% + 2rem);
    height: auto;
}

.qr-code {
    width: 12.375rem;
    height: 12.375rem;
    opacity: 0.2;
    background-image: url('data:image/svg+xml,<svg width="99" height="99" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M28.875 33H4.125A4.125 4.125 0 0 1 0 28.875V4.125A4.125 4.125 0 0 1 4.125 0h24.75A4.125 4.125 0 0 1 33 4.125v24.75A4.125 4.125 0 0 1 28.875 33zM9.281 8.25c-.57 0-1.031.462-1.031 1.031V23.72c0 .57.462 1.031 1.031 1.031H23.72c.57 0 1.031-.462 1.031-1.031V9.28c0-.57-.462-1.031-1.031-1.031H9.28zM4.125 66h24.75A4.125 4.125 0 0 1 33 70.125v24.75A4.125 4.125 0 0 1 28.875 99H4.125A4.125 4.125 0 0 1 0 94.875v-24.75A4.125 4.125 0 0 1 4.125 66zm19.594 24.75c.57 0 1.031-.462 1.031-1.031V75.28c0-.57-.462-1.031-1.031-1.031H9.28c-.57 0-1.031.462-1.031 1.031V89.72c0 .57.462 1.031 1.031 1.031H23.72zM70.125 0h24.75A4.125 4.125 0 0 1 99 4.125v24.75A4.125 4.125 0 0 1 94.875 33h-24.75A4.125 4.125 0 0 1 66 28.875V4.125A4.125 4.125 0 0 1 70.125 0zm19.594 24.75c.57 0 1.031-.462 1.031-1.031V9.28c0-.57-.462-1.031-1.031-1.031H75.28c-.57 0-1.031.462-1.031 1.031V23.72c0 .57.462 1.031 1.031 1.031H89.72z" fill="%231F2348"/><path d="M41.25 17.531h4.125a3.094 3.094 0 1 0 0-6.187c-.57 0-1.031-.462-1.031-1.031V4.125a3.094 3.094 0 0 0-6.188 0v10.313a3.094 3.094 0 0 0 3.094 3.093zM53.625 7.219c.57 0 1.031.461 1.031 1.031v22.688a3.094 3.094 0 0 0 6.188 0V4.125a3.094 3.094 0 0 0-3.094-3.094h-4.125a3.094 3.094 0 0 0 0 6.188zM23.719 43.313a3.094 3.094 0 0 0 3.093 3.093H41.25a3.094 3.094 0 0 0 3.094-3.093v-16.5a3.094 3.094 0 0 0-6.188 0v12.375c0 .569-.462 1.03-1.031 1.03H26.812a3.094 3.094 0 0 0-3.093 3.094z" fill="%231F2348"/><path d="M12.375 40.219a3.094 3.094 0 0 0-3.094 3.093v10.313c0 .57-.461 1.031-1.031 1.031H4.125a3.094 3.094 0 0 0 0 6.188H57.75a3.094 3.094 0 0 0 3.094-3.094V45.375a3.094 3.094 0 0 0-6.188 0v8.25c0 .57-.462 1.031-1.031 1.031H16.5c-.57 0-1.031-.462-1.031-1.031V43.312a3.094 3.094 0 0 0-3.094-3.093zM56.719 70.125a3.094 3.094 0 0 0-3.094-3.094H41.25a3.094 3.094 0 0 0-3.094 3.094v16.5a3.094 3.094 0 0 0 6.188 0V74.25c0-.57.462-1.031 1.031-1.031h8.25a3.094 3.094 0 0 0 3.094-3.094zM94.875 91.781H59.812c-.569 0-1.03-.462-1.03-1.031V82.5a3.094 3.094 0 1 0-6.188 0v12.375a3.094 3.094 0 0 0 3.093 3.094h39.188a3.094 3.094 0 0 0 0-6.188z" fill="%231F2348"/><path fill-rule="evenodd" clip-rule="evenodd" d="M80.438 83.531H68.061a3.094 3.094 0 0 1-3.093-3.094V68.064a3.094 3.094 0 0 1 3.094-3.094h12.374a3.094 3.094 0 0 1 3.094 3.094v12.374a3.094 3.094 0 0 1-3.094 3.094zm-8.25-12.375c-.57 0-1.032.462-1.032 1.031v4.126c0 .569.462 1.03 1.031 1.03h4.126c.569 0 1.03-.461 1.03-1.03v-4.126c0-.569-.461-1.03-1.03-1.03h-4.126z" fill="%231F2348"/><path d="M92.813 52.594a3.094 3.094 0 0 0-3.094 3.093V82.5a3.094 3.094 0 0 0 6.187 0V55.687a3.094 3.094 0 0 0-3.094-3.093zM95.906 41.25a3.094 3.094 0 0 0-3.094-3.094H70.126a3.094 3.094 0 0 0-3.094 3.094v12.375a3.094 3.094 0 0 0 6.188 0v-8.25c0-.57.462-1.031 1.031-1.031h18.563a3.094 3.094 0 0 0 3.093-3.094z" fill="%231F2348"/></svg>');
}
