.file-import {
    width: 22.5rem;
    height: 37.857rem;
    border: dashed 2px var(--nimiq-light-blue);
    border-radius: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 5rem;
    padding-top: 7.5rem;
    position: relative;
}

.file-import h3 {
    line-height: 1.375;
    margin: 0 4rem;
}

.file-import .click-hint {
    display: block;
    font-size: 1.75rem;
    line-height: 1.5;
    opacity: 0.5;
    margin-bottom: 5rem;
}

.file-import .error-message {
    color: var(--error-color);
}

.file-import input {
    position: absolute;
    top: -10000px;
}

#image-wallet {
    position: absolute;
    top: -1rem;
    left: -1rem;
    width: calc(100% + 2rem);
    height: auto;
}

.qr-code {
    width: 12.375rem;
    height: 12.375rem;
    opacity: 0.2;
    background-image: url("data:image/svg+xml,%3Csvg width='99' height='99' viewBox='0 0 99 99' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.875 33H4.125C1.84683 33 0 31.1532 0 28.875V4.125C0 1.84683 1.84683 0 4.125 0H28.875C31.1532 0 33 1.84683 33 4.125V28.875C33 31.1532 31.1532 33 28.875 33ZM9.28125 8.25C8.71171 8.25 8.25 8.71171 8.25 9.28125V23.7187C8.25 24.2883 8.71171 24.75 9.28125 24.75H23.7187C24.2883 24.75 24.75 24.2883 24.75 23.7187V9.28125C24.75 8.71171 24.2883 8.25 23.7187 8.25H9.28125Z' fill='%231F2348'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.125 66H28.875C31.1532 66 33 67.8468 33 70.125V94.875C33 97.1532 31.1532 99 28.875 99H4.125C1.84683 99 0 97.1532 0 94.875V70.125C0 67.8468 1.84683 66 4.125 66ZM23.7187 90.75C24.2883 90.75 24.75 90.2883 24.75 89.7188V75.2812C24.75 74.7117 24.2883 74.25 23.7187 74.25H9.28125C8.71171 74.25 8.25 74.7117 8.25 75.2812V89.7188C8.25 90.2883 8.71171 90.75 9.28125 90.75H23.7187Z' fill='%231F2348'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M70.125 0H94.875C97.1532 0 99 1.84683 99 4.125V28.875C99 31.1532 97.1532 33 94.875 33H70.125C67.8468 33 66 31.1532 66 28.875V4.125C66 1.84683 67.8468 0 70.125 0ZM89.7188 24.75C90.2883 24.75 90.75 24.2883 90.75 23.7187V9.28125C90.75 8.71171 90.2883 8.25 89.7188 8.25H75.2812C74.7117 8.25 74.25 8.71171 74.25 9.28125V23.7187C74.25 24.2883 74.7117 24.75 75.2812 24.75H89.7188Z' fill='%231F2348'/%3E%3Cpath d='M41.25 17.5312H45.375C47.0836 17.5312 48.4688 16.1461 48.4688 14.4375C48.4688 12.7289 47.0836 11.3437 45.375 11.3437C44.8055 11.3437 44.3438 10.882 44.3438 10.3125V4.125C44.3438 2.41637 42.9586 1.03125 41.25 1.03125C39.5414 1.03125 38.1562 2.41637 38.1562 4.125V14.4375C38.1562 16.1461 39.5414 17.5312 41.25 17.5312Z' fill='%231F2348'/%3E%3Cpath d='M53.625 7.21875C54.1945 7.21875 54.6563 7.68046 54.6563 8.25V30.9375C54.6563 32.6461 56.0414 34.0312 57.75 34.0312C59.4586 34.0312 60.8438 32.6461 60.8438 30.9375V4.125C60.8438 2.41637 59.4586 1.03125 57.75 1.03125H53.625C51.9164 1.03125 50.5312 2.41637 50.5312 4.125C50.5312 5.83363 51.9164 7.21875 53.625 7.21875Z' fill='%231F2348'/%3E%3Cpath d='M23.7188 43.3125C23.7188 45.0211 25.1039 46.4063 26.8125 46.4063H41.25C42.9586 46.4063 44.3437 45.0211 44.3437 43.3125V26.8125C44.3437 25.1039 42.9586 23.7188 41.25 23.7188C39.5414 23.7188 38.1562 25.1039 38.1562 26.8125V39.1875C38.1562 39.757 37.6945 40.2188 37.125 40.2188H26.8125C25.1039 40.2188 23.7188 41.6039 23.7188 43.3125Z' fill='%231F2348'/%3E%3Cpath d='M12.375 40.2188C10.6664 40.2188 9.28125 41.6039 9.28125 43.3125V53.625C9.28125 54.1945 8.81954 54.6562 8.25 54.6562H4.125C2.41637 54.6562 1.03125 56.0414 1.03125 57.75C1.03125 59.4586 2.41637 60.8438 4.125 60.8438H57.75C59.4586 60.8438 60.8438 59.4586 60.8438 57.75V45.375C60.8438 43.6664 59.4586 42.2812 57.75 42.2812C56.0414 42.2812 54.6562 43.6664 54.6562 45.375V53.625C54.6562 54.1945 54.1945 54.6562 53.625 54.6562H16.5C15.9305 54.6562 15.4688 54.1945 15.4688 53.625V43.3125C15.4688 41.6039 14.0836 40.2188 12.375 40.2188Z' fill='%231F2348'/%3E%3Cpath d='M56.7188 70.125C56.7188 68.4164 55.3336 67.0312 53.625 67.0312H41.25C39.5414 67.0312 38.1562 68.4164 38.1562 70.125V86.625C38.1562 88.3336 39.5414 89.7188 41.25 89.7188C42.9586 89.7188 44.3438 88.3336 44.3438 86.625V74.25C44.3438 73.6805 44.8055 73.2188 45.375 73.2188H53.625C55.3336 73.2188 56.7188 71.8336 56.7188 70.125Z' fill='%231F2348'/%3E%3Cpath d='M94.875 91.7812H59.8125C59.243 91.7812 58.7812 91.3195 58.7812 90.75V82.5C58.7812 80.7914 57.3961 79.4062 55.6875 79.4062C53.9789 79.4062 52.5938 80.7914 52.5938 82.5V94.875C52.5938 96.5836 53.9789 97.9687 55.6875 97.9687H94.875C96.5836 97.9687 97.9687 96.5836 97.9687 94.875C97.9687 93.1664 96.5836 91.7812 94.875 91.7812Z' fill='%231F2348'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M80.4375 83.5312H68.0625C66.3539 83.5312 64.9688 82.1461 64.9688 80.4375V68.0625C64.9688 66.3539 66.3539 64.9688 68.0625 64.9688H80.4375C82.1461 64.9688 83.5312 66.3539 83.5312 68.0625V80.4375C83.5312 82.1461 82.1461 83.5312 80.4375 83.5312ZM72.1875 71.1562C71.618 71.1562 71.1562 71.618 71.1562 72.1875V76.3125C71.1562 76.882 71.618 77.3438 72.1875 77.3438H76.3125C76.882 77.3438 77.3438 76.882 77.3438 76.3125V72.1875C77.3438 71.618 76.882 71.1562 76.3125 71.1562H72.1875Z' fill='%231F2348'/%3E%3Cpath d='M92.8125 52.5938C91.1039 52.5938 89.7188 53.9789 89.7188 55.6875V82.5C89.7188 84.2086 91.1039 85.5937 92.8125 85.5937C94.5211 85.5937 95.9062 84.2086 95.9062 82.5V55.6875C95.9062 53.9789 94.5211 52.5938 92.8125 52.5938Z' fill='%231F2348'/%3E%3Cpath d='M95.9063 41.25C95.9063 39.5414 94.5211 38.1562 92.8125 38.1562H70.125C68.4164 38.1562 67.0312 39.5414 67.0312 41.25V53.625C67.0312 55.3336 68.4164 56.7188 70.125 56.7188C71.8336 56.7188 73.2188 55.3336 73.2188 53.625V45.375C73.2188 44.8055 73.6805 44.3438 74.25 44.3438H92.8125C94.5211 44.3438 95.9063 42.9586 95.9063 41.25Z' fill='%231F2348'/%3E%3C/svg%3E%0A");
}
