#rotation-container {
    position: relative;
    width: 100%;
    max-width: 56.5rem; /* 420px + 2 * 2rem because of .nq-card margin*/
    height: 76.5rem; /* 564px */
    padding-top: 3rem;
    margin-top: -3rem;
    padding-bottom: 3rem;
    margin-bottom: -3rem;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    will-change: transform;
}

#rotation-container.disable-transition {
    transition: none;
}

#rotation-container > .page.flipped,
#rotation-container.flipped {
    transform: rotateY(180deg);
}

#rotation-container > .page {
    position: absolute;
    backface-visibility: hidden;
    overflow: hidden;
}

#rotation-container > .page.display-flex {
    display: flex;
    z-index: 3;
}

#rotation-container > .page:not(.flipped) {
    transform: rotateY(0deg);
    z-index: 2;
}

#rotation-container > .page:target {
    z-index: 3;
}
