.overlay-container {
    --transition-time: 0.75s;
    --overlay-transition-time: 0.65s;
    position: relative;
}

.overlay-container .nq-card {
    margin: 0;
    flex-grow: 1;
}

.overlay-container .nq-card:first-child {
    transition: transform var(--transition-time) var(--nimiq-ease);
    transform-origin: center bottom;
}

.overlay-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    /**
     * 100% is the height of the overlay
     * 100vh is the height of the viewport
     *
     * To adapt the animation distance to the screen height (because we don't want the overlay to only
     * animate part of the way on larger screens, or ultra-fast on smaller screens), we calculcate the
     * distance between the top of the overlay to the top of the viewport [(100vh - 100%) / 2] and add
     * the heigh of the overlay to it [+ 100%]. Then we just turn it around into a negative distance
     * [-1 *] so it animates from and to the top, and we add a little extra [1.1 = +10%] so the easing
     * doesn't stop at the top of the viewport.
     */
    transform: translate3D(0, calc(-1.1 * ((100vh - 100%) / 2 + 100%)), 0);
    transition: transform var(--overlay-transition-time) cubic-bezier(0.3, 0, 0, 1);
}

.overlay-container.show-overlay .nq-card:first-child {
    transform: scale(0.942857143) translateY(1.5rem);
}

.overlay-container.show-overlay .overlay {
    transform: translate3D(0, 0, 0);
    transition: transform var(--overlay-transition-time) cubic-bezier(.3, 1, 0.2, 1);
}

.overlay-container .overlay .close-overlay {
    position: absolute;
    right: 2rem;
    top: 2rem;
    border: 0;
    padding: 0;
    height: 3rem;
    font-size: 3rem;
    background-color: unset;
}

.overlay-container .overlay .close-overlay .nq-icon {
    opacity: .2;
    transition: opacity .3s var(--nimiq-ease);
}

.overlay-container .overlay .close-overlay:hover .nq-icon,
.overlay-container .overlay .close-overlay:active .nq-icon,
.overlay-container .overlay .close-overlay:focus .nq-icon {
    opacity: .4;
}

@media (max-width: 450px) {
    .overlay-container {
        --transition-time: 0.5s;
    }

    .overlay-container .nq-card:first-child {
        transform-origin: center top;
    }

    .overlay-container.show-overlay .nq-card:first-child {
        transform: scale(0.942857143) translateY(-1.5rem);
    }

    .overlay-container .overlay {
        /**
         * 100% is the height of the overlay
         */
        transform: translate3D(0, 100%, 0);
    }
}

@media (prefers-reduced-motion: reduce) {
    /* Instead of translating the overlay, simply fade it in */
    .overlay-container .overlay {
        transition: opacity var(--overlay-transition-time) var(--nimiq-ease) !important;
    }

    .overlay-container .overlay {
        opacity: 0;
    }
}
