.password-box {
    position: relative;
    padding: 5.5rem 1.25rem 1.25rem;
}

.password-box .cancel {
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
    opacity: 0.5;
    width: 3rem;
    height: 3rem;
    background-size: 3.75rem;
    z-index: 100;
    cursor: pointer;
    transition: opacity .3s ease;
}

.password-box .cancel .nq-icon {
    width: 100%;
    height: 100%;
}

.password-box .cancel::after {
    content: '';
    display: block;
    position: absolute;
    left: -1.5rem;
    top: -1.5rem;
    right: -1.5rem;
    bottom: -1.5rem;
}

.password-box .cancel:hover {
    opacity: 1;
}

.password-box .password-input {
    margin: 5rem 0 4.5rem 0;
}
.password-box .password-input + .submit {
    margin-top: -6.375rem; /* -8 from button + 1.625 from missing skip button */
}

.password-box .password-input .input-wrapper {
    transition: transform 300ms;
}

.password-box.input-eligible .password-input .input-wrapper,
.password-box.hide-input .password-input .input-wrapper {
    transform: translate(0, -3.5rem);
}

.password-box.hide-input .prompt,
.password-box.hide-input .password-input {
    display: none;
    margin: 0;
}

.password-box .submit {
    margin-top: -8rem;
    margin-bottom: 0.75rem;
    opacity: 0;
    transition: opacity 150ms;
    pointer-events: none;
}

.password-box.input-eligible .submit,
.password-box.hide-input .submit {
    opacity: 1;
    transition-delay: 75ms;
    pointer-events: all;
}

.password-box.hide-cancel .cancel {
    display: none;
}

.password-box .prompt {
    margin-top: -2.75rem;
    line-height: 1;
    pointer-events: none;
}

/* S E T T E R */
.password-box .repeat-password,
.password-box .password-strength,
.password-box .repeat-short,
.password-box .repeat-long {
    margin-top: -2.75rem;
    line-height: 1;
    opacity: 0;
    transition: opacity 150ms;
    pointer-events: none;
}

.password-box.strength-short .password-strength.strength-short,
.password-box.strength-weak .password-strength.strength-weak,
.password-box.strength-good .password-strength.strength-good,
.password-box.strength-strong .password-strength.strength-strong,
.password-box.strength-secure .password-strength.strength-secure,
.password-box.repeat-short .repeat-short,
.password-box.repeat-long .repeat-long {
    opacity: 1;
    transition-delay: 150ms;
}

.password-box .password-strength.shake {
    color: var(--nimiq-red);
}

.password-box.repeat.repeat-short .repeat-password,
.password-box.repeat.repeat-long .repeat-password {
    opacity: 0;
    pointer-events: none;
}

.password-box.repeat .repeat-password {
    opacity: 1;
}

.password-box.repeat .password-hint,
.password-box.repeat .password-strength {
    visibility: hidden;
}

.password-box .password-input .input-container {
    position: static;
}

.password-box .password-input .eye-button {
    top: 1.5rem;
    left: 2rem;
}

.password-box input {
    text-align: center;
    width: 100%;
}
