.passphrase-box {
    position: relative;
    padding: 5.5rem 1.25rem 1.25rem;
}

.passphrase-box .cancel {
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
    opacity: 0.5;
    width: 3rem;
    height: 3rem;
    background-size: 3.75rem;
    z-index: 100;
    cursor: pointer;
    transition: opacity .3s ease;
}

.passphrase-box .cancel .nq-icon {
    width: 100%;
    height: 100%;
}

.passphrase-box .cancel::after {
    content: '';
    display: block;
    position: absolute;
    left: -1.5rem;
    top: -1.5rem;
    right: -1.5rem;
    bottom: -1.5rem;
}

.passphrase-box .cancel:hover {
    opacity: 1;
}

.passphrase-box .passphrase-input {
    margin: 5rem 0 4.5rem 0;
}
.passphrase-box .passphrase-input + .submit {
    margin-top: -6.375rem; /* -8 from button + 1.625 from missing skip button */
}

.passphrase-box .passphrase-input .input-wrapper {
    transition: transform 300ms;
}

.passphrase-box.input-eligable .passphrase-input .input-wrapper,
.passphrase-box.hide-input .passphrase-input .input-wrapper {
    transform: translate(0, -3.5rem);
}

.passphrase-box.hide-input .prompt,
.passphrase-box.hide-input .passphrase-input {
    display: none;
    margin: 0;
}

.passphrase-box .submit {
    margin-top: -8rem;
    margin-bottom: 0.75rem;
    opacity: 0;
    transition: opacity 150ms;
    pointer-events: none;
}

.passphrase-box.input-eligable .submit,
.passphrase-box.hide-input .submit {
    opacity: 1;
    transition-delay: 75ms;
    pointer-events: all;
}

.passphrase-box.hide-cancel .cancel {
    display: none;
}

.passphrase-box .prompt {
    margin-top: -2.75rem;
    line-height: 1;
    pointer-events: none;
}

/* S E T T E R */
.passphrase-box .repeat-password,
.passphrase-box .password-strength {
    margin-top: -2.75rem;
    line-height: 1;
    opacity: 0;
    transition: opacity 150ms;
    pointer-events: none;
}

.passphrase-box.strength-short .password-strength.strength-short,
.passphrase-box.strength-weak .password-strength.strength-weak,
.passphrase-box.strength-good .password-strength.strength-good,
.passphrase-box.strength-strong .password-strength.strength-strong,
.passphrase-box.strength-secure .password-strength.strength-secure {
    opacity: 1;
    transition-delay: 150ms;
}

.passphrase-box .password-strength.shake {
    color: var(--nimiq-red);
}

.passphrase-box.input-eligable .password-skip {
    opacity: 0;
    pointer-events: none;
}

.passphrase-box .password-skip {
    transition: opacity 300ms;
    cursor: pointer;
    display: block;
    font-size: 1.625rem;
    transition: opacity .3s ease;
    position: absolute;
    bottom: 1rem;
    width: calc(100% - 2.5rem);
}

.passphrase-box .password-skip .nq-icon {
    font-size: 1.375rem;
    margin-bottom: -0.125rem;
    transition: transform .3s ease;
}

.passphrase-box .password-skip:hover,
.passphrase-box .password-skip:focus {
    outline: none;
    opacity: 0.7;
}

.passphrase-box .password-skip:hover .nq-icon,
.passphrase-box .password-skip:focus .nq-icon {
    transform: translate3D(-0.25rem, 0, 0);
}

.passphrase-box.repeat .repeat-password {
    opacity: 1;
}

.passphrase-box.repeat .password-hint,
.passphrase-box.repeat .password-skip,
.passphrase-box.repeat .password-strength {
    visibility: hidden;
}

.passphrase-box .passphrase-input .input-container {
    position: static;
}

.passphrase-box .passphrase-input .eye-button {
    top: 1.5rem;
    left: 2rem;
}
