.passphrase-box {
    position: relative;
    padding-top: 5.5rem;
}

.passphrase-box .cancel {
    position: absolute;
    right: 1.25rem;
    top: 1.25rem;
    opacity: 0.8;
    width: 3.25rem;
    height: 3.25rem;
    background-size: 3.75rem;
    z-index: 100;
    cursor: pointer;
}

.passphrase-box .cancel::after {
    content: '';
    display: block;
    position: absolute;
    left: -2rem;
    top: -2rem;
    right: -2rem;
    bottom: -2rem;
}

.passphrase-box .cancel:hover {
    opacity: 1;
}

.passphrase-box .passphrase-input {
    margin: 5rem 0 4.5rem 0;
}
.passphrase-box .passphrase-input + .submit {
    margin-top: -6.375rem; /* -8 from button + 1.625 from missing skip button */
}

.passphrase-box .passphrase-input .input-wrapper {
    transition: transform 300ms;
}

.passphrase-box.input-valid .passphrase-input .input-wrapper,
.passphrase-box.hide-input .passphrase-input .input-wrapper {
    transform: translate(0, -3.5rem);
}

.passphrase-box.hide-input .passphrase-input {
    visibility: hidden;
}

.passphrase-box .submit {
    margin-top: -8rem;
    margin-bottom: 0.625rem;
    opacity: 0;
    transition: opacity 150ms;
    pointer-events: none;
}

.passphrase-box.input-valid .submit,
.passphrase-box.hide-input .submit {
    opacity: 1;
    transition-delay: 75ms;
    pointer-events: all;
}

.passphrase-box.hide-cancel .cancel {
    display:none;
}

.passphrase-box .prompt {
    margin-top: -2.75rem;
    line-height: 1;
    pointer-events: none;
}

/* S E T T E R */
.passphrase-box .repeat-password,
.passphrase-box .password-strength {
    margin-top: -2.75rem;
    line-height: 1;
    opacity: 0;
    transition: opacity 150ms;
    pointer-events: none;
}

.passphrase-box:not(.input-valid).strength-0 .password-strength.strength-0,
.passphrase-box.input-valid.strength-8 .password-strength.strength-8,
.passphrase-box.input-valid.strength-10 .password-strength.strength-10,
.passphrase-box.input-valid.strength-12 .password-strength.strength-12 {
    opacity: 1;
    transition-delay: 150ms;
}

.passphrase-box .password-skip {
    transition: opacity 300ms;
}

.passphrase-box .password-strength.shake{
    color: var(--nimiq-red);
}

.passphrase-box.input-valid .password-skip {
    opacity: 0;
    pointer-events: none;
}

.passphrase-box .password-skip {
    cursor: pointer;
    display: block;
    font-size: 1.625rem;
    transform: scale(1);
    transition: transform .45s ease;
}

.passphrase-box .password-skip i.nq-icon {
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" color="%23ffffff" viewBox="0 0 10 17"><polygon fill="currentColor" points="1.43,17 0,15.58 7.13,8.5 0,1.42 1.43,0 10,8.5 "/></svg>');
    margin-left: 0.5rem;
    height: 0.875rem;
    width: 0.875rem;
    transition: transform .3s ease;
}

.password-skip:hover,
.password-skip:focus {
  transform: scale(1.03);
  outline: none;
}

.password-skip:hover i.nq-icon,
.password-skip:focus i.nq-icon {
  transform: translate3D(3px, 0, 0);
}

.passphrase-box.repeat .repeat-password {
    opacity: 1;
}

.passphrase-box.repeat .password-hint,
.passphrase-box.repeat .password-skip,
.passphrase-box.repeat .password-strength,
.passphrase-box.repeat .prompt.protect {
    visibility: hidden;
}

.passphrase-box .passphrase-input .input-container {
    position: static;
}

.passphrase-input .eye-button {
    top: 1.5rem;
    left: 2rem;
    opacity: .5;
    transition: opacity .3s ease, transform .45s ease;
}

.passphrase-input .eye-button:hover,
.passphrase-input .eye-button:focus {
    opacity: 1;
    transform: scale(1.03);
}
