.passphrase-input {
    width: 100%;
    margin: 2rem 0;
}

.passphrase-input .input-container {
    width: 100%;
    position: relative;
}

.passphrase-input input {
    padding-left: 4rem;
    padding-right: 4rem;
    margin: 0;
    border: none !important;
    font-size: 3rem;
    letter-spacing: 1.25rem;
    width: 100%;
    max-width: unset;
}

.passphrase-input input::placeholder {
    letter-spacing: 1.25rem;
}

.passphrase-input input[type="text"] {
    letter-spacing: 0.25rem;
}

.passphrase-input input.password.shake {
    color: var(--nimiq-red);
}

.passphrase-input .eye-button {
    position: absolute;
    top: 0.25rem;
    left: 0;
    width: 3rem;
    height: 3rem;
    background-size: 3rem;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity .3s ease;
}

.passphrase-input .eye-button:hover {
    opacity: 1;
}

.passphrase-input .eye-button:not(.visible) .is-visible,
.passphrase-input .eye-button.visible .not-visible {
    display: none;
}
