.password-box {
    position: relative;
    padding: 5.5rem 1.25rem 1.25rem;
}

.password-box .prompt {
    margin-top: -2.75rem;
    line-height: 1;
    pointer-events: none;
    transition: opacity .3s;
}

.password-box .password-input {
    margin: 5rem 0 4.5rem 0;
}

.password-box .password-input .input-container {
    position: static;
}

.password-box .password-input .input-wrapper {
    transition: transform 300ms var(--nimiq-ease)!important;
}

.password-box.input-eligible .password-input .input-wrapper {
    transform: translate(0, -3.5rem);
}

.password-box .password-input input {
    text-align: center;
    width: 100%;
}

.password-box .password-input .eye-button {
    top: 1.5rem;
    left: 2rem;
}

.password-box.hide-input .prompt,
.password-box.hide-input .password-input {
    display: none;
    margin: 0;
}

.password-box .submit {
    margin: -6.375rem auto 0.75rem;
    opacity: 0;
    transition:
        transform 450ms cubic-bezier(.25,0,0,1), /* From @nimiq/style */
        box-shadow 450ms cubic-bezier(.25,0,0,1), /* From @nimiq/style */
        color .3s cubic-bezier(.25,0,0,1), /* From @nimiq/style */
        opacity 150ms var(--nimiq-ease);
    pointer-events: none;
}

.password-box.input-eligible .submit,
.password-box.hide-input .submit {
    opacity: 1;
    transition-delay: 75ms;
    pointer-events: all;
}

.password-box .skip {
    opacity: 1;
    margin-top: -3.5rem;
}

.password-box.input-eligible .skip {
    opacity: 0;
    pointer-events: none;
}

.password-box.show-swap-authorization {
    overflow: hidden;
    isolation: isolate; /* separate stacking context to avoid putting the ::before element behind the password box */
}
.password-box.show-swap-authorization::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(100% 100% at 100% 100%, #4D4C96 0%, #5F4B8B 100%);
    animation: fade 1s 1.5s reverse forwards; /* 2.5s total */
    z-index: -1; /* put behind other children of the password box */
}
.password-box.show-swap-authorization .prompt {
    position: relative;
    width: max-content;
    padding-left: 1.5rem;
    margin-left: auto;
    margin-right: auto;
    /* Set opacity to initially 0 such that the prompt gets faded in after the show-swap-authorization class gets
    removed. While the class is still set, the effective value will be determined by the animation. */
    opacity: 0;
    animation: fade .4s 2.1s reverse backwards; /* 2.5s total */
}
.password-box.show-swap-authorization .prompt::before {
    content: url('data:image/svg+xml,<svg width="16" height="16" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.9.3a1.41 1.41 0 0 0-2.16.57l-.48 1.17c-.2.47-.62.8-1.12.86l-1.25.17A1.41 1.41 0 0 0 .76 5l.49 1.16c.2.47.12 1-.19 1.4l-.77 1c-.56.75-.28 1.82.58 2.17l1.17.49c.47.19.8.62.86 1.12l.17 1.25A1.41 1.41 0 0 0 5 14.72l1.16-.48c.47-.2 1-.13 1.4.18l1 .77c.75.57 1.82.28 2.17-.58l.49-1.16c.19-.47.62-.8 1.12-.87l1.25-.16a1.41 1.41 0 0 0 1.12-1.94l-.48-1.17c-.2-.46-.13-1 .18-1.4l.77-1c.57-.74.28-1.81-.58-2.17l-1.16-.48c-.47-.2-.8-.62-.87-1.12l-.16-1.25A1.41 1.41 0 0 0 10.48.76l-1.17.49c-.46.2-1 .12-1.4-.19L6.9.3Zm4.03 6.25a.66.66 0 0 0-.92-.95L6.83 8.66l-1.35-1.3a.66.66 0 1 0-.92.95l1.81 1.76c.26.24.67.24.93 0l3.63-3.52Z" fill="white"/></svg>');
    position: absolute; /* to avoid affecting the height of the prompt */
    left: -1.25rem;
}

/* SETTER */
.password-box .repeat-password,
.password-box .password-strength,
.password-box .repeat-short,
.password-box .repeat-long {
    margin-top: -2.75rem;
    line-height: 1;
    opacity: 0;
    transition: opacity 150ms var(--nimiq-ease);
    pointer-events: none;
}

.password-box.strength-short .password-strength.strength-short,
.password-box.strength-weak .password-strength.strength-weak,
.password-box.strength-good .password-strength.strength-good,
.password-box.strength-strong .password-strength.strength-strong,
.password-box.strength-secure .password-strength.strength-secure,
.password-box.too-long .password-strength.too-long,
.password-box.repeat-short .repeat-short,
.password-box.repeat-long .repeat-long {
    opacity: 1;
    transition-delay: 150ms;
}

.password-box .password-strength.shake {
    color: var(--nimiq-red);
}

.password-box.repeat.repeat-short .repeat-password,
.password-box.repeat.repeat-long .repeat-password {
    opacity: 0;
    pointer-events: none;
}

.password-box.repeat .repeat-password {
    opacity: 1;
}

.password-box.repeat .password-hint,
.password-box.repeat .password-strength {
    visibility: hidden;
}

.password-box.repeat .submit:not(.show-in-repeat),
.password-box:not(.repeat) .submit.show-in-repeat {
    display: none;
}
