.passphrase-input {
    width: 100%;
    margin: 2rem 0;
}

.passphrase-input .input-container {
    width: 100%;
    position: relative;
}

.passphrase-input input {
    padding-left: 4rem;
    padding-right: 4rem;
    margin: 0;
    border: none !important;
    font-size: 3rem;
    letter-spacing: 1.25rem;
    width: 100%;
    max-width: unset;
}

.passphrase-input input::placeholder {
    letter-spacing: 1.25rem;
}

.passphrase-input input[type="text"] {
    letter-spacing: 0.25rem;
}

.passphrase-input input.password.shake {
    color: var(--nimiq-red);
}

.passphrase-input .eye-button {
    position: absolute;
    top: 0.25rem;
    left: 0;
    width: 4rem;
    height: 4rem;
    background-size: 3rem;
    cursor: pointer;
}

.passphrase-input button {
    margin-top: 2rem;
}

.passphrase-input .strength-indicator-container {
    width: 100%;
    padding: 2rem 0;
}

.passphrase-input .strength-indicator-container .label {
    text-align: center;
}

.passphrase-input .strength-indicator {
    width: 100%;
    height: .75rem;
    background: rgba(0, 0, 0, 0.1);
}

.passphrase-input .strength-indicator::-webkit-meter-bar {
    background: none;
    background-color: rgba(0, 0, 0, 0.1);
}

/* Webkit based browsers */
.passphrase-input .strength-indicator[value="10"]::-webkit-meter-optimum-value { background: var(--nimiq-red); }
.passphrase-input .strength-indicator[value="70"]::-webkit-meter-optimum-value { background: var(--nimiq-orange); }
.passphrase-input .strength-indicator[value="100"]::-webkit-meter-optimum-value,
.passphrase-input .strength-indicator[value="130"]::-webkit-meter-optimum-value { background: var(--nimiq-green); }

/* Gecko based browsers */
.passphrase-input .strength-indicator[value="10"]::-moz-meter-bar { background: var(--nimiq-red); }
.passphrase-input .strength-indicator[value="70"]::-moz-meter-bar { background: var(--nimiq-orange); }
.passphrase-input .strength-indicator[value="100"]::-moz-meter-bar,
.passphrase-input .strength-indicator[value="130"]::-moz-meter-bar { background: var(--nimiq-green); }

