.payment-info-line {
    width: 100%;
    max-width: 56.25rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0;
    font-size: 1.5rem;
    font-weight: normal;
}

.payment-info-line .amount {
    font-weight: bold;
}
