.payment-info-line {
    display: flex;
    box-sizing: border-box;
    margin: 1.75rem 2.5rem 1rem 2.375rem;
    flex-shrink: 0;
    font-size: 2rem;
    line-height: 1.375;
    font-weight: normal;
}

.payment-info-line .amounts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: .125rem;
    cursor: default;
}

.payment-info-line .amount {
    font-weight: bold;
    color: var(--nimiq-light-blue);
    white-space: nowrap;
}

.payment-info-line .price-tooltip {
    margin-top: -.25rem;
    align-self: flex-start;
}

.payment-info-line .price-tooltip .warning-triangle {
    font-size: 1.625rem;
    color: var(--nimiq-orange);
    vertical-align: -.125rem;
    display: none;
}

.payment-info-line .price-tooltip.bad-rate .warning-triangle {
    display: inline;
}

.payment-info-line .price-tooltip.bad-rate .highlight-on-bad-rate {
    opacity: 1;
    color: var(--nimiq-orange);
}

.payment-info-line .price-tooltip > .fiat-amount {
    font-size: 1.625rem;
    font-weight: 600;
    line-height: 1;
    opacity: .6;
}

.payment-info-line .price-tooltip .tooltip-box {
    min-width: 37rem;
    left: -1.5rem;
    padding: 2rem;
    line-height: 1.3;
}

.payment-info-line .amounts:hover .tooltip::after,
.payment-info-line .amounts:hover .tooltip .tooltip-box {
    visibility: visible;
    opacity: 1;
}

.payment-info-line .price-tooltip label {
    font-weight: normal;
}

.payment-info-line .price-tooltip .price-breakdown {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 2rem;
    row-gap: 1.5rem;
    white-space: nowrap;
}

.payment-info-line .price-tooltip .price-breakdown label + * {
    justify-self: end;
}

.payment-info-line .price-tooltip .info {
    font-size: 1.625rem;
    opacity: .5;
}

.payment-info-line .price-tooltip .rate-info {
    display: none;
    margin-top: .5rem;
}

.payment-info-line .price-tooltip .free-service-info {
    margin-top: 1.5rem;
    color: var(--nimiq-green);
    opacity: 1;
}

.payment-info-line .price-tooltip hr {
    margin: 2rem -1rem 1.5rem;
    border: unset;
    border-top: 1px solid currentColor;
    opacity: .2;
}

.payment-info-line .price-tooltip .total {
    font-weight: bold;
}

.payment-info-line .price-tooltip .network-fee-info {
    margin-top: .5rem;
    margin-bottom: -.25rem;
    text-align: right;
    white-space: nowrap;
}

.payment-info-line .arrow-runway {
    display: flex;
    flex-grow: 1;
    min-width: 3rem;
    margin: auto;
    justify-content: center;
    overflow: hidden;
}

.payment-info-line .arrow-runway .nq-icon {
    font-size: 2rem;
    animation: arrow-shooting 2.7s cubic-bezier(.2,.5,.75,.5) infinite;
}

@keyframes arrow-shooting {
    0%   { transform: translate3D(-3.5rem, 0, 0); opacity: 0; }
    15%  { transform: translate3D(-3.5rem, 0, 0); opacity: 0; }
    30%  { opacity: .2; }
    70%  { opacity: .2; }
    85%  { transform: translate3D(3rem, 0, 0); opacity: 0; }
    100% { transform: translate3D(3rem, 0, 0); opacity: 0; }
}

.payment-info-line .recipient {
    flex-direction: row;
    width: auto;
    cursor: auto !important;
    overflow: hidden;
}

.payment-info-line .recipient .identicon {
    width: 3.375rem;
    height: 3.375rem;
    margin-right: 1rem;
}

.payment-info-line .recipient:hover .identicon {
    transform: none !important; /* avoid scaling on hover */
}

.payment-info-line .recipient .label {
    width: auto;
    margin: 0 0 .25rem 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: fade;
}

.payment-info-line .recipient .label::after {
    display: none; /* don't apply text fadeout, we're using text ellipsis instead */
}

.payment-info-line .timer {
    margin: auto -.5rem auto 1rem;
    flex-shrink: 0;
}
