.pin-input .pin-button-container {
    width: 300px;
    display: block;
    touch-action: manipulation;
    user-select: none;
    position: relative;
}

.pin-input .pin-button-container button {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: none;
    border: none;
    margin: 12px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    outline: none !important;
    font-size: 32px;
    color: white;
    letter-spacing: 0;
    font-weight: 300;
}

.pin-input .pin-button-container button:active {
    background: rgba(255, 255, 255, 0.5);
}

.pin-input .pin-dot-indicator {
    display: flex;
    width: 300px;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 0 46px 36px;
    will-change: transform;
}

.pin-input .pin-dot-indicator > * {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid white;
}

.pin-input .pin-dot-indicator > *.on {
    background: white;
}

.pin-input .pin-button-container .delete {
    cursor: pointer;
    background: url('data:image/svg+xml,<svg width="63" height="42" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"> <defs> <path d="M.36 1.45h28.92" id="a"/> <path d="M.36 15.26h28.92" id="b"/> </defs> <g fill="none" fill-rule="evenodd"> <path d="M20.57 0H57a6 6 0 0 1 6 6v30a6 6 0 0 1-6 6H20.57a6 6 0 0 1-4.36-1.87l-14.2-15a6 6 0 0 1 0-8.26l14.2-15A6 6 0 0 1 20.57 0z" fill-opacity=".2" fill="%23FFF"/> <g stroke-linecap="square" stroke="%23FFF"> <g transform="rotate(135 21.84 15.93)"> <use stroke-width="2" xlink:href="%23a"/> <use xlink:href="%23a"/> </g> <g transform="rotate(45 18.76 45.06)"> <use stroke-width="2" xlink:href="%23b"/> <use xlink:href="%23b"/> </g> </g> </g> </svg>') !important;
    background-size: cover !important;
    height: 26px;
    width: 40px;
    min-height: initial;
    padding: 0;
    position: absolute;
    bottom: 20px;
    right: 24px;
    border-radius: 0;
}

.pin-input .pin-button-container .delete:active {
    filter: brightness(2);
}

/* Wrong Attempt Animation */

@keyframes shake-pinpad {
    0% {
        transform: translateX(0);
    }
    20% {
        transform: translateX(16px);
    }
    40% {
        transform: translateX(-16px);
    }
    60% {
        transform: translateX(12px);
    }
    80% {
        transform: translateX(-12px);
    }
    100% {
        transform: translateX(0);
    }
}


/* Unlocking Animation */

.unlocking .pin-dot-indicator > * {
    animation: unlocking 400ms linear infinite;
}

@keyframes unlocking {
    50% {
        transform: translateY(12px);
    }
}

.pin-input .pin-dot-indicator > *:nth-child(2) {
    animation-delay: 200ms;
}

.pin-input .pin-dot-indicator > *:nth-child(3) {
    animation-delay: 400ms;
}

.pin-input .pin-dot-indicator > *:nth-child(4) {
    animation-delay: 600ms;
}

.pin-input .pin-dot-indicator > *:nth-child(5) {
    animation-delay: 800ms;
}

.pin-input .pin-dot-indicator > *:nth-child(6) {
    animation-delay: 1000ms;
}
