.privacy-agent {
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 46rem;
    flex-grow: 1;
    /* height: 100%; */
    margin-top:  2rem;
}

.privacy-agent h1 {
    color: var(--error-color);
    padding: 2rem 0;
    font-weight: 500;
    font-size: 3rem;
}

.privacy-agent p {
    max-width: 50rem;
    font-size: 1.875rem;
}

.privacy-agent svg {
    opacity: 0.8;
    display: block;
    width: 20.25rem;
    height: 18rem;
}

.privacy-agent button {
    margin-top: 0;
}

.privacy-agent-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: white;
    padding: 3rem 2rem;
    display: flex;
    color: rgba(0,0,0,0.98);
    border-radius: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    box-shadow:  rgba(0, 0, 0, 0.5) 0 .25rem .5rem;
}

@media (max-height: 500px) {
    .privacy-agent-container svg {
        /* display: none; */
    }
}
