.privacy-agent {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.privacy-agent .privacy-warning .privacy-warning-top {
    display: flex;
    flex-direction: row;
}

.privacy-agent .privacy-warning .nq-icon.privacy-agent {
    width: 9.25rem;
    height: 9.25rem;
    flex-shrink: 0;
    flex-grow: 0;
}

.privacy-agent .privacy-warning h2 {
    font-size: 3.75rem;
    line-height: 1.2;
    margin: 0 0 0 4rem;
}

.privacy-agent .privacy-warning p {
    margin: 4rem 0;
}

.privacy-agent button {
    margin-bottom: 0;
}
