.privacy-agent {
    width: 100%;
    flex-grow: 1;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}

.privacy-warning .privacy-warning-top {
    display: flex;
    flex-direction: row;
    margin: 0 4rem;
}

.privacy-warning svg {
    width: 9.25rem;
    height: 9.25rem;
    flex-shrink: 0;
}

.privacy-warning h1 {
    color: #ca3333;
    font-weight: 600;
    font-size: 3.75rem;
    text-align: left;
    margin-left: 4rem;
}

.privacy-agent button {
    margin: 0 7.5rem 4rem;
    background: #724ceb;
    color: white;
}
