.recovery-words {
    text-align: center;
    line-height: 4rem;
    display: block;
}

.recovery-words .words-container {
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.recovery-words-input.shake, .recovery-words .shake {
    border-color: var(--nimiq-red);
}

.recovery-words .words-container .word-section {
    display: flex;
    flex-wrap: wrap;
    margin: -.5rem
}

.recovery-words .word {
    margin: .5rem;
    display: flex;
    flex-direction: column;
    flex: 1 0 25%;
    position: relative;
}

.recovery-words input[type="text"] {
    width: 100%;
    font-family: inherit;
    line-height: 2;
    font-size: 1.875rem;
    padding: 0;
    border-radius: .5rem;
    border:1px solid rgba(255,255,255,0.2);
}

.recovery-words input[type="text"]:focus {
    border-bottom: .125rem solid rgba(255, 255, 255, 0.5);
}

.recovery-words input[type="text"]::-webkit-calendar-picker-indicator {
    display: none;
}

/* can not be name-spaced as the AutoComplete lib renders suggestions outside of the components element */
.autocomplete-suggestions {
    text-align: left;
    cursor: default;
    border: .125rem solid #ccc;
    border-top: 0;
    background: #fff;
    box-shadow: -.125rem .125rem .375rem rgba(0, 0, 0, .1);

    /* core styles should not be changed */
    position: absolute;
    display: none;
    z-index: 9999;
    max-height: 31.75rem;
    overflow: hidden;
    box-sizing: border-box;
}

.autocomplete-suggestion {
    position: relative;
    padding: 0 .1em;
    line-height: 2.5;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--nimiq-blue);
    border-bottom: .125rem solid rgba(0, 0, 0, 0.1);
}

.autocomplete-suggestion:last-child {
    border-bottom: none;
}

.autocomplete-suggestion.selected {
    color: white;
    background: var(--nimiq-light-blue);
    cursor: pointer;
}

.recovery-words ::selection {
    background: var(--nimiq-blue); /* WebKit/Blink Browsers */
}

.recovery-words ::-moz-selection {
    background: var(--nimiq-blue); /* Gecko Browsers */
}
