.recovery-words {
    margin-bottom: 24px;
}

.recovery-words .info-box {
    margin-bottom: 24px;
}

.recovery-words .words-container {
    width: 100%;
    max-width: 360px;
    padding: 16px;
    margin: 24px 0;
    box-sizing: border-box;
    position: relative;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAJElEQVQYV2NkwAT/GdHE/jMwMDAiC4IFQIpggnABmCCKAEgQAABOBQUaykC8AAAAAElFTkSuQmCC');
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid white;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 4rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.recovery-words .words-container .word-section {
    display: flex;
    flex-wrap: wrap;
}

.recovery-words .words-container .word {
    margin: .25rem;
    width: 5rem;
    display: flex;
    flex-direction: column;
    flex: 1 0 20%;
    position: relative;
    box-shadow: 0 .250rem .250rem 0       rgba(0, 0, 0, 0.14),
                0 .125rem .625rem 0       rgba(0, 0, 0, 0.12),
                0 .375rem .125rem -.25rem rgba(0, 0, 0, 0.20);
}

.recovery-words .words-container .word .word-content {
    display: none;
}

.recovery-words .words-container .word-section:hover .word-content{
    display: initial;
}

.recovery-words .words-container .word-section:hover .word-placeholder{
    display: none;
}

.recovery-words .words-container:before {
    content: 'Recovery Words';
    display: block;
    position: absolute;
    left: 50%;
    width: 140px;
    box-sizing: border-box;
    border-radius: 24px;
    top: -13px;
    font-size: 12px;
    line-height: 26px;
    margin-left: -70px;
    background: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZmZmIiBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMjQgMjQiIHdpZHRoPSIyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAwaDI0djI0SDB6IiBmaWxsPSJub25lIi8+PHBhdGggZD0iTTE4IDhoLTFWNmMwLTIuNzYtMi4yNC01LTUtNVM3IDMuMjQgNyA2djJINmMtMS4xIDAtMiAuOS0yIDJ2MTBjMCAxLjEuOSAyIDIgMmgxMmMxLjEgMCAyLS45IDItMlYxMGMwLTEuMS0uOS0yLTItMnptLTYgOWMtMS4xIDAtMi0uOS0yLTJzLjktMiAyLTIgMiAuOSAyIDItLjkgMi0yIDJ6bTMuMS05SDguOVY2YzAtMS43MSAxLjM5LTMuMSAzLjEtMy4xIDEuNzEgMCAzLjEgMS4zOSAzLjEgMy4xdjJ6Ii8+PC9zdmc+');
    background-size: 14px;
    background-position: 9px center;
    background-repeat: no-repeat;
    background-color: black;
    padding-left: 16px;
    transition: opacity 300ms;
}

.recovery-words .words-container.x-entry .x-word {
    animation: x-recovery-phrase 300ms;
    animation-fill-mode: backwards;
}

@keyframes words-container {
    from {
        opacity: 0;
        transform: translate(32px, 16px);
    }
}
