.tooltip.fee-breakdown .tooltip-box {
    width: 31.5rem;
    padding: 1.5rem 2rem;
    margin-left: -15rem;
}

.tooltip.fee-breakdown .price-breakdown {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 2rem;
    row-gap: 1.5rem;
    white-space: nowrap;
    margin: 1rem 0;
}

.tooltip.fee-breakdown .price-breakdown:first-child {
    margin-top: 0;
}

.tooltip.fee-breakdown .price-breakdown:last-child {
    margin-bottom: 0;
}

.tooltip.fee-breakdown .explainer {
    font-size: 1.75rem;
    opacity: 0.6;
    margin: -1rem 0 0;
}

.tooltip.fee-breakdown hr {
    margin: 1.75rem -1rem 1.5rem;
    border: unset;
    border-top: 1px solid currentColor;
    opacity: .2;
}

.tooltip.fee-breakdown .total-fees {
    font-weight: bold;
}
