#validate-words {
    width: 100%;
    color: white;
    text-align: center;
    flex-wrap: wrap;
    font-size: 1.875rem;
    line-height: 4rem;
    flex-grow: 1;
}

#validate-words p {
    margin-bottom: 4rem;
}

#validate-words .target-index {
    display: block;
    font-size: 8rem;
    line-height: 10rem;
    margin-bottom: 5.25rem;
    font-weight: 200;
}

#validate-words .target-index::before {
    content: '#';
    font-size: 6.5rem;
}

#validate-words button {
    margin: .5rem;
    transform: translate3d(0, 0, 0);
    will-change: transform;
}

#validate-words button.correct {
    background-color: var(--success-color);
    border-color: var(--success-color);
    color: var(--secondary-text-color);
}

#validate-words button.wrong {
    background-color: var(--error-color);
    border-color: var(--error-color);
    color: var(--secondary-cta-color);
}

#validate-words .word-list {
    display: block;
    height: 22.5rem;
    max-width: 46rem;
    margin: 0 auto;
}
