.validate-words {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 1.875rem;
    line-height: 4rem;
    padding-top: 8rem;
}

.validate-words p {
    font-size: 2.5rem;
    margin-top: 0;
    text-align: center;
    margin-bottom: 4rem;
    color: rgba(255, 255, 255, .5);
}

.validate-words .target-index {
    display: block;
    font-size: 10rem;
    line-height: 10rem;
    margin-bottom: 3rem;
    font-weight: normal;
    text-align: center;
    font-weight: 600;
}

.validate-words .word-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.validate-words button {
    margin: 1rem;
    display: inline-block;
    min-width: unset;
    height: 4.25rem;
    padding: 0 2rem;
    font-size: 1.75rem;
}

.validate-words button:disabled {
    opacity: 0.7;
}

.validate-words button[disabled].green {
    /* @nimiq/style does not include disabled styles for colored buttons yet */
    background: var(--nimiq-green-bg) !important;
    opacity: 1;
    cursor: pointer;
}

.validate-words button[disabled].red {
    /* @nimiq/style does not include disabled styles for colored buttons yet */
    background: var(--nimiq-red-bg) !important;
    opacity: 1;
    cursor: pointer;
}

.validate-words button.blink-green {
    opacity: 1;
    animation-name: blink-green;
    animation-duration: 400ms;
    animation-iteration-count: 2;
}

@keyframes blink-green {
    50% { background: var(--nimiq-green-bg); }
}

.validate-words .back-to-words-container {
    margin-top: 2rem;
    text-align: center;
}

.validate-words .back-to-words {
    cursor: pointer;
}
