.validate-words {
    width: 100%;
    flex-wrap: wrap;
    font-size: 1.875rem;
    line-height: 4rem;
}

.validate-words p {
    margin-top: 0;
    margin-bottom: 4rem;
}

.validate-words .target-index {
    display: block;
    font-size: 8rem;
    line-height: 8rem;
    margin-bottom: 4rem;
    font-weight: normal;
    text-align: center;
}

.validate-words .target-index::before {
    content: '#';
    font-size: 5.5rem;
}

.validate-words .word-list {
    text-align: center;
}

.validate-words button {
    margin: 0.75rem;
    display: inline-block;
    min-width: unset;
    height: 6rem;
    padding: 0 2rem;
    font-size: 1.75rem;
}

.validate-words button:disabled {
    opacity: 0.7;
}

.validate-words .back-to-words {
    margin-top: 2rem;
    text-align: center;
}

.validate-words .back-to-words a {
    cursor: pointer;
}

.validate-words .skip-container {
    margin-top: 4.5rem;
    text-align: center;
}

.validate-words .skip {
    color: inherit;
    cursor: pointer;
}
