.key-type-form h2.key-type-or {
    margin: 0rem 4rem;
    font-weight: 400;
}

.key-type-option {
    margin:3rem 4rem;
}

.key-type-option input {
    display: none;
}

.key-type-option span {
    font-size: 1.625rem;
}

.key-type-option label {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 1rem;
}

.key-type-option label:hover {
    background: rgba(220, 220, 220, .1);
}

.key-type-option input:checked + label {
    border-color: rgba(220, 220, 220, .5);
    background: rgba(220, 220, 220, .2);
}

.key-type-option .identicon {
    width: 12.5rem;
    height: 12.5rem;
    margin: 1rem 2rem;
}

.key-type-info {
    margin-right: 2rem;
}
