.page .file-import {
    margin-bottom: 0;
    width: auto;
    align-self: stretch;
}

.page#file-import .page-footer .create-wallet {
    cursor: pointer;
}

button.go-to-words {
    margin-top: 2rem;
    align-self: flex-start;
}

.page#enter-passphrase .page-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page#enter-passphrase .nq-icon.walletfile-locked {
    width: 9rem;
    height: 11.75rem;
    flex-shrink: 0;
}

.keyfile-info {
    display: flex;
    flex-direction: row;
}

.keyfile-info p:first-child {
    margin-top: 0;
}

.keyfile-info p:last-child {
    margin-bottom: 0;
}

.page#set-passphrase .nq-icon.walletfile {
    width: 9rem;
    height: 11.75rem;
    margin-right: 4rem;
    flex-shrink: 0;
}

#choose-key-type .key-type-or {
    margin: 2rem 4rem;
    text-align: center;
}

#choose-key-type .key-type-option input {
    display: none;
}

#choose-key-type .key-type-option label {
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1rem;
    align-items: flex-start;
    border: solid 2px rgba(128, 128, 128, 0.2);
}

#choose-key-type .key-type-option label:hover,
#choose-key-type .key-type-option input:checked + label {
    background: rgba(128, 128, 128, 0.2);
    border-color: transparent;
}

#choose-key-type .key-type-option .identicon {
    width: 10rem;
    height: 10rem;
    margin-right: 2rem;
    flex-shrink: 0;
}

#choose-key-type .key-type-option .address {
    white-space: unset;
}

#enter-passphrase .page-footer,
#set-passphrase .page-footer {
    padding: 1rem;
}
