.page#import-file {
    position: relative;
}

.page#import-file .page-body,
.page#unlock-account .page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

.page#import-file .login-to-continue {
    font-weight: 600;
    color: var(--nimiq-orange);
    text-align: center;
    font-size: 2rem;
    margin-top: -4.5rem;
}

.page#import-file .login-to-continue:not(.display-none) + .file-import {
    margin-top: 2rem;
    margin-bottom: -2rem;
}

.page#import-file .page-footer {
    align-items: center;
}

.page#import-file #go-to-other-import-option {
    margin-top: 3rem;
}

.page#import-file #go-to-create {
    margin: 1.25rem 0;
}

.page#import-file .qr-video-button {
    position: absolute;
    right: 2.5rem;
    bottom: 2.5rem;
    display: flex;

    /* Reset Button */
    background: none;
    border: none;
    outline: none;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: inherit;
    text-align: inherit;
    cursor: pointer;

    font-size: 3.75rem;
    -webkit-tap-highlight-color: transparent;
}

.page#import-file .qr-video-button .nq-icon {
    opacity: 0.6;
    transition: opacity 0.3s var(--nimiq-ease);
}

.page#import-file .qr-video-button:hover .nq-icon,
.page#import-file .qr-video-button:focus .nq-icon {
    opacity: 0.8;
}

.page#import-file .qr-video-button .tooltip-box {
    right: -.5rem;
    width: 24rem;
}

.page#import-file .qr-video-button.hide-tooltip::after,
.page#import-file .qr-video-button.hide-tooltip .tooltip-box {
    visibility: hidden;
    opacity: 0;
}

.page#import-file .qr-video-scanner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 0.625rem;
    margin: 0.75rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.7s var(--nimiq-ease);
}

.page#import-file .qr-video-scanner.active {
    opacity: 1;
    pointer-events: all;
}

.page#unlock-account .page-body {
    opacity: 1;
    transition: filter .4s .3s, opacity .4s .3s;
}

.page#unlock-account .loginfile-image {
    width: 24.5rem;
    height: auto;
    transform: scale(1.05);
    opacity: 0.2;
    transition: transform .3s, opacity .3s;
}

.page#unlock-account .lock {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 35.5rem;
    height: 11.5rem;
    opacity: 0;
    transition: opacity .4s .3s;
}

.page#unlock-account .lock:not(.unlocked) .lock-unlocked,
.page#unlock-account .lock.unlocked .lock-locked {
    display: none;
}

.page#unlock-account .page-footer .password-box {
    position: absolute;
    margin: 0.75rem;
    width: calc(100% - 1.5rem);
    left: 0;
    bottom: 0;
    transition: opacity .4s .5s, z-index .1s .5s;
    opacity: 0;
    z-index: -1;
}

.page#unlock-account.animate .page-body {
    filter: blur(12px);
    opacity: 0.2;
}

.page#unlock-account.animate .loginfile-image {
    transform: scale(1);
    opacity: 1;
}

.page#unlock-account.animate .nq-icon.lock {
    opacity: 0.4;
}

.page#unlock-account.animate .page-footer .password-box {
    opacity: 1;
    z-index: 3;
}

.page#select .page-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
    gap: 2.5rem;
}

.page#select .import-selector-option {
    contain: layout paint style;
    apprearance: none;
    padding: 2.5rem;
    border: none;
    border-radius: 1.25rem;
    font-family: inherit;
    cursor: pointer;
    text-align: left;
    color: inherit;
    background-color: rgba(255, 255, 255, .12);
    transition: background-color .3s var(--nimiq-ease);
}

.page#select .import-selector-option:hover {
    background-color: rgba(255, 255, 255, .2);
}

.page#select .import-selector-option img.icon-backup-codes {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="38" height="32" viewBox="0 0 38 33"><path fill="white" opacity=".3" d="M8 21v4.9c0 1 .9 2 2 2h19.5q1.5 0 2.6 1l3.4 3c1 .8 2.5 0 2.5-1.2V9a2 2 0 0 0-2-2h-6v11.9a2 2 0 0 1-2 2H8"/><path fill="url(%23a)" d="M0 2Q.2.2 2 0h26a2 2 0 0 1 2 2v16.9a2 2 0 0 1-2 2H8.5a4 4 0 0 0-2.6 1l-3.4 3c-1 .8-2.5 0-2.5-1.2z"/><defs><radialGradient id="a" cx="0" cy="0" r="1" gradientTransform="matrix(17 20 -24 10 3.8 4)" gradientUnits="userSpaceOnUse"><stop stop-color="white"/><stop offset="1" stop-color="white" stop-opacity=".6"/></radialGradient></defs></svg>');
}

.page#select .import-selector-option img.icon-recovery-words {
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="32" height="32"><path fill="white" opacity=".3" d="M6 28v2q.2 1.8 2 2h22a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-4v21a2 2 0 0 1-2 2z"/><path fill="url(%23a)" fill-rule="evenodd" d="M0 2Q.2.2 2 0h22a2 2 0 0 1 2 2v24a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2zm4 3q0-1 1-1h8a1 1 0 1 1 0 2H5a1 1 0 0 1-1-1m1 4a1 1 0 1 0 0 2h10a1 1 0 1 0 0-2zm-1 6q0-1 1-1h7a1 1 0 1 1 0 2H5a1 1 0 0 1-1-1m1 4a1 1 0 1 0 0 2h8a1 1 0 1 0 0-2z"/><defs><radialGradient id="a" cx="0" cy="0" r="1" gradientTransform="matrix(11 18 -15 9 2.4 3.5)" gradientUnits="userSpaceOnUse"><stop stop-color="white"/><stop offset="1" stop-color="white" stop-opacity=".6"/></radialGradient></defs></svg>');
}

.page#select .import-selector-option h2 {
    margin: 2.25rem 0 1.5rem;
}

.page#select .import-selector-option p {
    margin: 0;
    font-size: 2rem;
    line-height: 130%;
    color: rgba(255, 255, 255, .7);
}

.page#recovery-words .nq-label {
    font-weight: bold;
    margin-top: 4rem;
    margin-bottom: 0;
    text-align: center;
}

.page#recovery-words .nq-label.nq-red {
    color: var(--nimiq-red);
}

.page#recovery-words .input-hint {
    opacity: 0.5;
    color: white;
}

.page#recovery-words .wrong-seed-phrase {
    line-height: 1.3;
    margin-top: 2rem;
    margin-bottom: -1.125rem;
}

.page#recovery-words.invalid-words p:not(.invalid),
.page#recovery-words:not(.invalid-words) p.invalid,
.page#recovery-words.wrong-seed-phrase p:not(.wrong-seed-phrase),
.page#recovery-words:not(.wrong-seed-phrase) p.wrong-seed-phrase {
    display: none;
}

.page#recovery-words .recovery-words,
.page#recovery-words .words-container {
    display: flex;
    flex-grow: 1;
    overflow: auto;
}

.page#recovery-words .page-body {
    display: flex;
    flex-direction: column;
}

.page#recovery-words .words-container input {
    height: 100%;
}

.page#backup-codes .page-header {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
}

.page#backup-codes .page-header .nq-notice {
    margin-top: 1.75rem;
    line-height: 1.4;
    color: rgba(255, 255, 255, .6);
}

.page#backup-codes .page-body {
    position: relative;
    padding-top: 1rem;
}

.page#backup-codes .page-body .backup-codes-input {
    position: absolute;
    height: 100%;
    transition: filter .6s var(--nimiq-ease), opacity .6s var(--nimiq-ease);
}

.page#backup-codes .page-body .backup-codes-input.backup-codes-enter-code-2 {
    padding-top: 6rem;
}

.page#backup-codes .page-body .loading-spinner {
    display: none;
}

body.loading .page#backup-codes .page-body .backup-codes-input {
    filter: blur(20px);
    opacity: .4;
}

body.loading .page#backup-codes .page-body .loading-spinner {
    display: block;
    position: absolute;
    top: calc(50% - 1rem);
    left: calc(50% - 3.375rem);
}

.page#backup-codes .page-footer .nq-notice {
    margin: 0 3rem 7rem;
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    view-transition-name: backup-codes-warning;
}

.page#set-password .page-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.page#set-password p {
    text-align: center;
    font-weight: 600;
}

.page#set-password.login-file-available .login-file-unavailable,
.page#set-password:not(.login-file-available) .login-file-available {
    display: none;
}

.page#set-password .login-file-icon {
    margin-bottom: 1.25rem;
}

.page#download-file .page-header {
    padding-bottom: 3rem;
}

.page#download-file.loginfile-download-initiated .page-header .nq-h1:not(.confirm-download),
.page#download-file:not(.loginfile-download-initiated) .page-header .confirm-download,
.page#download-file.loginfile-download-initiated .skip {
    display: none;
}

.page#download-file .page-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.page#download-file .skip {
    margin-top: -3rem;
}

@media (max-width: 450px) {
    .page#import-file .qr-video-scanner {
        margin: 0;
        border-radius: 0;
    }
}
