.page#import-file .page-body,
.page#unlock-account .page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

.page#import-file .login-to-continue {
    font-weight: 600;
    color: var(--nimiq-orange);
    text-align: center;
    font-size: 2rem;
    margin-top: -4.5rem;
}

.page#import-file .login-to-continue:not(.display-none) + .file-import {
    margin-top: 2rem;
    margin-bottom: -2rem;
}

.page#import-file .page-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.625rem;
}

.page#unlock-account .page-body {
    opacity: 1;
    transition: filter .4s .3s, opacity .4s .3s;
}

.page#unlock-account .loginfile-image {
    width: 24.5rem;
    height: auto;
    transform: scale(1.05);
    opacity: 0.2;
    transition: transform .3s, opacity .3s;
}

.page#unlock-account .lock {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 35.5rem;
    height: 11.5rem;
    opacity: 0;
    transition: opacity .4s .3s;
}

.page#unlock-account .lock:not(.unlocked) .lock-unlocked,
.page#unlock-account .lock.unlocked .lock-locked {
    display: none;
}

.page#unlock-account .page-footer .password-box {
    position: absolute;
    margin: 0.75rem;
    width: calc(100% - 1.5rem);
    left: 0;
    bottom: 0;
    transition: opacity .4s .5s, z-index .1s .5s;
    opacity: 0;
    z-index: -1;
}

.page#unlock-account.animate .page-body {
    filter: blur(12px);
    opacity: 0.2;
}

.page#unlock-account.animate .loginfile-image {
    transform: scale(1);
    opacity: 1;
}

.page#unlock-account.animate .nq-icon.lock {
    opacity: 0.4;
}

.page#unlock-account.animate .page-footer .password-box {
    opacity: 1;
    z-index: 3;
}

.page#recovery-words .nq-label {
    font-weight: bold;
    margin-top: 4rem;
    margin-bottom: 0;
    text-align: center;
}

.page#recovery-words .nq-label.nq-red {
    color: var(--nimiq-red);
}

.page#recovery-words .input-hint {
    opacity: 0.5;
    color: white;
}

.page#recovery-words.invalid-words p:not(.nq-red),
.page#recovery-words:not(.invalid-words) p.nq-red {
    display: none;
}

.page#recovery-words .recovery-words,
.words-container {
    display: flex;
    flex-grow: 1;
    overflow: auto;
}

.page#recovery-words .page-body {
    display: flex;
    flex-direction: column;
}

.page#recovery-words .words-container input {
    height: 100%;
}

button#goto-words {
    margin-top: 3rem;
}

a#goto-create {
    margin: 1.25rem 0;
}

.page#set-password .page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page#set-password p {
    text-align: center;
    font-weight: 600;
}

.page#set-password.login-file-available .login-file-unavailable,
.page#set-password:not(.login-file-available) .login-file-available {
    display: none;
}

.page#set-password .login-file-icon {
    margin: auto;
}

.page#set-password .page-footer {
    padding: 0.625rem;
}

.page#download-file .page-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
