.header-top {
    width: 100%;
    padding: 3.75rem;
}

.header-top .nimiq-app-name {
    height: 3.625rem;
}

.header-top .nimiq-logo::before {
    display: inline-block;
    content: '';
    width: 4.125rem;
    height: 3.625rem;
    background-image: url('data:image/svg+xml,<svg width="499" height="440" xmlns="http://www.w3.org/2000/svg"><path d="M389.33 20.73C382.65 9.28 366.48 0 353.24 0h-208c-13.26 0-29.4 9.28-36.09 20.73L5.33 198.87c-6.68 11.45-6.68 30.02 0 41.47l103.82 178.14c6.68 11.45 22.85 20.74 36.09 20.74h208c13.26 0 29.4-9.28 36.09-20.74l103.82-178.14c6.68-11.45 6.68-30.01 0-41.47L389.33 20.73zM272.6 347.45v41.1h-38.74v-39.53c-23.53-2.82-51.45-13.02-70.28-30.12l25.57-39.06c20.4 15.06 37.96 22.9 57.1 22.9 22.43 0 32.31-9.1 32.31-27.29 0-40.63-105.4-39.84-105.4-111.06 0-38.74 23.2-65.57 60.7-73.1V50.51h38.74v40c25.57 3.6 43.92 16.16 59.45 32.47l-29.49 33.26c-14.43-13.02-26.66-19.77-43.45-19.77-19.13 0-29.49 7.53-29.49 25.26 0 37.49 105.41 34.35 105.41 109.96-.15 37.8-21.33 67.13-62.43 75.76z" fill="%23FFC107" fill-rule="evenodd"/></svg>');
    background-repeat: no-repeat;
    background-size: 4.125rem;
}

.header-top .nimiq-logo::after {
    content: 'NIMIQ';
    font-size: 2.125rem;
    line-height: 3.625rem;
    font-weight: 600;
    letter-spacing: 0.25rem;
    color: white;
    vertical-align: top;
    margin-left: 1.875rem;
}

.page {
    display: none;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 100vw;
    max-width: 56.25rem; /* 450px */
    border-radius: 1rem;
    box-shadow: 0 1.25rem 2.5rem 0 rgba(0, 0, 0, 0.11);
}

.page-header, .page-body, .page-footer {
    width: 100%;
    display: flex;
}

.page-header {
    position: relative;
    height: 11rem;
    box-sizing: border-box;
    padding: 4.25rem;
    border-bottom: solid 1px #f2f2f2;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.page-header-back-button {
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 4.25rem;
    top: 4rem;
}

.page-header h1,
.page-header h2 {
    font-size: 1.875rem;
    text-transform: uppercase;
    letter-spacing: 0.25rem;
    line-height: 2.5rem;
    font-weight: bold;
}

.page-body {
    flex-direction: inherit;
}

.page-footer {
    justify-content: center;
}

.page:target,
#loading {
    display: flex;
    justify-content: center;
}

#loading {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.page:target ~ #loading {
    display: none;
}

.loading #loading {
    display: flex !important;
    flex-flow: column;
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.6);
}

.loading .page:target {
    opacity: 0.3;
    pointer-events: none;
}

.loading-animation {
    opacity: 1;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="64" height="64"><style>@keyframes dash-animation { to { transform: rotate(240deg) translateZ(0); } } %23circle { animation: 3s dash-animation infinite linear; transform: rotate(-120deg) translateZ(0); transform-origin: center; }</style><defs><clipPath id="hexClip"><path clip-rule="evenodd" d="M16 4.29h32L64 32 48 59.71H16L0 32zm4.62 8h22.76L54.76 32 43.38 51.71H20.62L9.24 32z"/></clipPath></defs><path fill-rule="evenodd" d="M16 4.29h32L64 32 48 59.71H16L0 32zm4.62 8h22.76L54.76 32 43.38 51.71H20.62L9.24 32z" fill="%23fff" opacity=".2"/><g clip-path="url(%23hexClip)"><circle id="circle" cx="32" cy="32" r="16" fill="none" stroke-width="32" stroke="%23F6AE2D" stroke-dasharray="16.666 84.666"/></g></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 9rem;
    z-index: 1;
    display: block;
    height: 9rem;
    width: 10rem;
}

.loading-animation + h2 {
    padding-top: 2rem;
}

.identicon img {
    height: 100%;
    width: 100%;
}

.nim-symbol::before {
    content: "NIM";
    opacity: 0.5;
}

.pad-bottom {
    padding-bottom: 3.5rem;
}

.warning {
    background-color: var(--warning-color);
    color: #3b3b3b;
    border-radius: 1rem;
    padding: 1.875rem;
}

.info-box {
    display: flex;
    border: 1px solid white;
    border-radius: 1rem;
    padding: .5rem;
}

.info-box .info-icon {
    background-image: url('data:image/svg+xml,<svg fill="%23FFFFFF" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path d="M11 17h2v-6h-2v6zm1-15C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zM11 9h2V7h-2v2z"/></svg>');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 4rem;
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 0;
}

.info-box .info-text {
    text-align: left;
}

.spacing-top-16 {
    margin-top: 2rem;
}

.address {
    font-family: "Andale Mono", monospace;
    font-size: 1.5rem;
    line-height: 2.25rem;
    word-spacing: -0.2em;
}

.global-close {
    height: 3.375rem;
    border-radius: 1.6875rem;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 1.75rem;
    font-weight: 600;
    line-height: 3.375rem;
    color: white;
    padding: 0 1.5rem;
    cursor: pointer;
    margin-top: 8rem;
    margin-bottom: 5rem;
}

.global-close::before {
    content: '';
    display: inline-block;
    height: 1.375rem;
    width: 1.375rem;
    background-image: url('data:image/svg+xml,<svg height="24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"/><path fill="%23fff" d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/></svg>');
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: center;
    margin-right: 1rem;
    margin-bottom: -0.125rem;
}

/* make code blocks look like keys on the keyboard */
kbd {
    font-family: monospace;
    font-size: 1.875rem;
    border: 1px solid white;
    padding: .25rem .75rem;
    border-radius: .625rem;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 98vw;
    min-height: calc(100vh - 11.125rem); /* window hight - header height */
}
