.header-top {
    width: 100%;
    padding: 4rem;
}

.header-top .nimiq-app-name {
    height: 3.625rem;
}

.header-top .nimiq-logo::before {
    display: inline-block;
    content: '';
    width: 4rem;
    height: 4rem;
    margin-right: 2rem;
    background-image: url('data:image/svg+xml,<svg width="27" height="24" viewBox="0 0 27 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M26.6991 10.875L21.0741 1.125C20.6691 0.4275 19.9266 0 19.1241 0H7.87414C7.07164 0 6.32914 0.4275 5.92789 1.125L0.302891 10.875C-0.0983594 11.5725 -0.0983594 12.4275 0.302891 13.125L5.92789 22.875C6.32914 23.5725 7.07164 24 7.87414 24H19.1241C19.9266 24 20.6691 23.5725 21.0704 22.875L26.6954 13.125C27.1004 12.4275 27.1004 11.5725 26.6991 10.875Z" fill="url(%23paint0_radial)"/><defs><radialGradient id="paint0_radial" cx="0" cy="0" r="1" gradientUnits="userSpaceOnUse" gradientTransform="translate(26.9996 24) rotate(-180) scale(26.9977 24)"><stop stop-color="%23EC991C"/><stop offset="1" stop-color="%23E9B213"/></radialGradient></defs></svg>');
    background-repeat: no-repeat;
    background-size: 4rem;
}

.header-top .nimiq-logo::after {
    content: 'NIMIQ';
    font-size: 2.125rem;
    line-height: 3.625rem;
    font-weight: 600;
    letter-spacing: 0.077em;
    vertical-align: top;
}

.page {
    display: none;
    width: 100%;
    max-width: 56.25rem; /* 450px */
    min-height: 58rem; /* 464px */
    /**
     * A max-height of 77.5rem is what is set in the Accounts Manager,
     * but some pages in the Keyguard are higher (like the Identicon
     * Selector in the create request, thus leading to an ugly scroll
     * bar there. If in the future we revisit the designs of the long
     * pages, this can be re-enabled.
     */
    /* max-height: 77.5rem; */ /* 620px */
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.page-header {
    position: relative;
}

.page-header-back-button {
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 4.5rem;
    top: 4.5rem;
    cursor: pointer;
    opacity: 0.3;
}

@media (max-width: 450px) {
    .page-header-back-button {
        left: 3.5rem;
    }
}

.page-header-back-button::after {
    content: '';
    display: block;
    position: absolute;
    left: -2rem;
    top: -2rem;
    right: -2rem;
    bottom: -2rem;
}

.page-body {
    width: 100%;
    flex-grow: 1;
}

.page-footer {
    font-size: 2rem;
}

.page:target {
    display: flex;
    justify-content: center;
}

#loading {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    max-width: 100vw;
    height: 100vh;
    max-height: 100vh;
    z-index: 1;
}

.page:target ~ #loading {
    display: none;
}

.loading #loading {
    display: flex !important;
    background-color: rgba(0, 0, 0, 0.4); /* darken background when used on top of pages */
}

.loading .page:target {
    opacity: 0.3;
    pointer-events: none;
}

.loading-animation {
    opacity: 1;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="64" height="64"><style>@keyframes a{to{transform:rotate(240deg) translateZ(0);}}%23circle{animation:2s a infinite linear;transform:rotate(-120deg) translateZ(0);transform-origin:center;}</style><defs><clipPath id="hexClip"><path clip-rule="evenodd" d="m 19.492188,3.5 c -2.483154,0 -4.79003,1.305009 -6.052735,3.4355469 l -0.002,0.00586 L 0.95117188,28.273438 c -1.26789485,2.139296 -1.26723215,4.811597 0,6.951171 3.3126e-4,5.6e-4 -3.3144e-4,0.0014 0,0.002 L 13.445312,56.519531 C 14.687911,58.687188 17.009035,60 19.492188,60 h 24.998046 c 2.483153,0 4.790031,-1.305005 6.052735,-3.435547 l 0.002,-0.0039 12.509766,-21.324219 c 1.256479,-2.146209 1.262705,-4.814832 0,-6.953125 l -0.002,-0.0039 -12.488281,-21.3378908 -0.0039,-0.00586 C 49.297843,4.8050087 46.990967,3.5 44.507812,3.5 Z m 0,4 h 25.015624 c 1.079826,0 2.07379,0.5695833 2.611329,1.4765625 l 12.486328,21.3320315 0.0039,0.0039 c 0.532016,0.897661 0.53608,1.976651 -0.0059,2.902344 l -12.501954,21.308594 -0.0039,0.002 C 46.559616,55.430236 45.568604,56 44.490234,56 H 19.492188 c -1.079826,0 -2.057986,-0.56139 -2.578126,-1.46875 l -0.0039,-0.0098 -12.5156248,-21.332031 -0.00195,-0.002 c -0.5320157,-0.897661 -0.5320157,-1.977339 0,-2.875 l 0.00195,-0.0039 L 16.880859,8.9765625 C 17.418399,8.069583 18.412363,7.5 19.492188,7.5 Z"/></clipPath></defs><path fill-rule="evenodd" d="m 19.492188,3.5 c -2.483154,0 -4.79003,1.305009 -6.052735,3.4355469 l -0.002,0.00586 L 0.95117188,28.273438 c -1.26789485,2.139296 -1.26723215,4.811597 0,6.951171 3.3126e-4,5.6e-4 -3.3144e-4,0.0014 0,0.002 L 13.445312,56.519531 C 14.687911,58.687188 17.009035,60 19.492188,60 h 24.998046 c 2.483153,0 4.790031,-1.305005 6.052735,-3.435547 l 0.002,-0.0039 12.509766,-21.324219 c 1.256479,-2.146209 1.262705,-4.814832 0,-6.953125 l -0.002,-0.0039 -12.488281,-21.3378908 -0.0039,-0.00586 C 49.297843,4.8050087 46.990967,3.5 44.507812,3.5 Z m 0,4 h 25.015624 c 1.079826,0 2.07379,0.5695833 2.611329,1.4765625 l 12.486328,21.3320315 0.0039,0.0039 c 0.532016,0.897661 0.53608,1.976651 -0.0059,2.902344 l -12.501954,21.308594 -0.0039,0.002 C 46.559616,55.430236 45.568604,56 44.490234,56 H 19.492188 c -1.079826,0 -2.057986,-0.56139 -2.578126,-1.46875 l -0.0039,-0.0098 -12.5156248,-21.332031 -0.00195,-0.002 c -0.5320157,-0.897661 -0.5320157,-1.977339 0,-2.875 l 0.00195,-0.0039 L 16.880859,8.9765625 C 17.418399,8.069583 18.412363,7.5 19.492188,7.5 Z" fill="%23fff" opacity=".2"/><g clip-path="url(%23hexClip)"><circle id="circle" cx="32" cy="32" r="16" fill="none" stroke-width="32" stroke="%231DE9B6" stroke-dasharray="16.666 84.666"/></g></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 9rem;
    z-index: 1;
    display: block;
    height: 9rem;
    width: 10rem;
}

.loading-animation + h2 {
    padding-top: 2rem;
}

.identicon img {
    height: 100%;
    width: 100%;
}

.nim-symbol::before {
    content: "NIM";
}

.address {
    font-family: "Fira Mono", "Andale Mono", monospace;
    font-size: 1.625rem;
    line-height: 2rem;
    word-spacing: -0.2em;
    opacity: 0.7;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
    max-width: 100%;
}

.global-close {
    position: relative;
    z-index: 3;
    margin-top: 8rem;
    margin-bottom: 5rem;
}

.global-close .arrow-left {
    vertical-align: top;
    margin-right: 0.25rem;
}

.flex-grow {
    flex-grow: 1;
}

.actionbox {
    width: 100%;
    padding: 1.25rem;
    border-radius: 0.5rem;
    text-align: center;
}

.actionbox h2 {
    text-transform: uppercase;
    font-size: 1.75rem;
    font-weight: bold;
    letter-spacing: 0.107em;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.actionbox ::selection {
    background: var(--nimiq-blue); /* WebKit/Blink Browsers */
}

.actionbox ::-moz-selection {
    background: var(--nimiq-blue); /* Gecko Browsers */
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: calc(100vh - 11.625rem); /* window hight - header height */
    padding: 0 1rem;
    width: 100%;
}
