/*******************
** animations.css **
*******************/

@keyframes shake {
    from { transform: none; }
    10%  { transform: translate3d(-0.25rem, 0, 0) rotate(-0.15deg); }
    20%  { transform: translate3d(0.5rem, 0, 0) rotate(0.15deg); }
    30%  { transform: translate3d(-0.5rem, 0, 0) rotate(-0.15deg); }
    40%  { transform: translate3d(0.5rem, 0, 0) rotate(0.15deg); }
    50%  { transform: translate3d(-0.25rem, 0, 0) rotate(-0.15deg); }
    to   { transform: none; }
}

@keyframes shake-background {
    from { opacity: 0; }

    30%, 70%  { opacity: 1; }
    to   { opacity: 0; }
}

.shake {
    animation: shake .4s ease;
    overflow: hidden;
}

.shake::before {
    content: ' ';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: var(--nimiq-red-bg);
    animation: shake-background .4s ease;
}

/**************
** layout.js **
***************/

html,
body {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* stretch as far as possible on iPhone */
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

@media (max-width: 450px) {
    html {
        font-size: 7px;
    }
}

body {
    justify-content: center;
    align-items: center;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.grow {
    flex-grow: 1;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
}

.display-none {
    display: none !important;
}
