/*******************
** animations.css **
*******************/

@keyframes shake {
    10%, 90% {
        transform: translate3d(-2px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.shake {
    transform: translate3d(0, 0, 0);
    animation-name: shake;
    animation-duration: .4s;
}

/**************
** layout.js **
***************/

html,
body {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* stretch as far as possible on iPhone */
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

@media (max-width: 450px) {
    html {
        font-size: 7px;
    }
}

body {
    justify-content: center;
    align-items: center;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.grow {
    flex-grow: 1;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.row {
    display: flex;
    align-items: center;
}

.display-none {
    display: none !important;
}
