.page-header {
    padding-top: 5.5rem;
    padding-bottom: 2.5rem;
}

.page-header .page-header-back-button {
    top: 5.5rem;
}

.page#enter-password .row {
    display: flex;
    align-items: center;
    margin: 6.5rem 1rem 0 1rem;
    font-size: 2rem;
    line-height: 2.75rem;
}

.page#enter-password .row .nq-icon {
    margin-right: 2rem;
    width: 4.875rem;
    height: 4.875rem;
    opacity: 0.4;
    flex-shrink: 0;
}

.page#enter-password .row + .row {
    margin-top: 3rem;
}

.page#enter-password .warning {
    margin: 0 2.2rem;
    font-weight: 600;
}

.page#set-password .hint {
    font-weight: 600;
}

.page#set-password .page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#app:not(.legacy-key) .legacy,
#app.legacy-key .warning:not(.legacy),
#app.legacy-key .hint:not(.legacy) {
     display: none;
}
