.page-footer {
    padding: 1rem;
}

.page-header {
    padding-top: 5.5rem;
    padding-bottom: 2.5rem;
}

.page-header .page-header-back-button {
    top: 5.5rem;
}

.page#enter-password .row {
    display: flex;
    align-items: center;
    margin: 6.5rem 1rem 0 1rem;
    font-size: 2rem;
    line-height: 2.75rem;
}

.page#enter-password .row > *:nth-child(2) {
    margin-left: 2rem;
}

.page#enter-password .row + .row {
    margin-top: 3rem;
}

.page#enter-password .nq-text {
    margin: 0 2.2rem;
    font-weight: 600;
}

.page#enter-password .shredder-container {
    min-width: 4.875rem;
}

.page#set-password .nq-text {
    font-weight: 600;
}
