.page#enter-password .page-header {
    padding-bottom: 3rem;
}

.page#enter-password .page-header h1 {
    /* give long translations a bit more space */
    margin-left: -1rem;
    margin-right: -1rem;
}

.page#enter-password .page-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page#enter-password .row {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    font-size: 2rem;
    line-height: 2.75rem;
}

.page#enter-password .row:not(:first-child) {
    margin-top: 3rem;
}

.page#enter-password .row .nq-icon {
    margin-right: 2rem;
    width: 4.875rem;
    height: 4.875rem;
    opacity: 0.4;
    flex-shrink: 0;
}

.page#set-password .page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.page#download-file .page-header {
    padding-bottom: 3rem;
}

.page#download-file.loginfile-download-initiated .page-header .nq-h1:not(.confirm-download),
.page#download-file:not(.loginfile-download-initiated) .page-header .confirm-download,
.page#download-file.loginfile-download-initiated .skip {
    display: none;
}

.page#download-file .page-body {
    display: flex;
}

.page#download-file .skip {
    margin-top: -3rem;
}

#app:not(.legacy-key) .legacy,
#app.legacy-key .warning:not(.legacy),
#app.legacy-key .info:not(.legacy) {
     display: none;
}
