.page#unlock .page-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8rem;
    text-align: center;
}

.page#unlock .page-body img {
    width: 96px;
    height: 96px;
}

.page#unlock .nq-h1 {
    margin-top: 4rem;
    margin-bottom: 2.25rem;
    white-space: pre-line;
}

.page#unlock .nq-text {
    color: var(--nimiq-blue);
    margin: 0 0 2rem;
    max-width: 34.5rem;
}
